<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Profil utilisateur</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="user !== undefined && user !== null">
        <div class="padding-top">
            <ion-avatar class="big-avatar">
                <div *ngIf="user.photo && user.photo !== ''; else default_icon">
                            <ion-img class="pdp" src="data:image/jpeg;base64,{{user.photo}}"></ion-img>
                </div>
                <ng-template #default_icon>
                    <ion-icon class="larger" name="person-circle" color="red"></ion-icon>
                </ng-template>
            </ion-avatar>

        </div>

        <ion-row>
            <ion-col size="12" style="text-align: center">
            <ion-title color="light">{{user.prenom_u}} {{user.nom_u}}</ion-title>
            </ion-col>
        </ion-row>

        <ion-card>
            <ion-card-title color="light">Informations</ion-card-title>

            <ion-item>
                <ion-icon class="onglet" color="red" name="wine"></ion-icon>
                <ion-label>Âge</ion-label>
                <ion-textarea [(ngModel)]="age" readonly="true"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-icon class="onglet" color="red" name="male-female"></ion-icon>
                <ion-label>Sexe</ion-label>
                <ion-textarea [(ngModel)]="user.sexe_u" readonly="true"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-icon class="onglet" color="red"  name="calendar"></ion-icon>
                <ion-label>Inscrit depuis le</ion-label>
                <ion-textarea [(ngModel)]="user.date_inscr" readonly="true"></ion-textarea>
            </ion-item>


        </ion-card>
    </div>
</ion-content>
