<ion-header>
  <ion-toolbar>
    <ion-title>Calendrier</ion-title>
    <!--
      ---Pour l'affichage du bouton '+' pour ajouter un event
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="details()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label class="bouton">Mois</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label class="bouton">Semaine</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label class="bouton">Jour</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-row>
    <ion-col>
      <ion-button color="danger" *ngIf="status === '0'"(click)="clickHappy()">
        Activer l'Happy Hour
      </ion-button>
      <ion-button color="danger" *ngIf="status === '1'"(click)="clickHappy()">
        Désactiver l'Happy Hour
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="5">
      <ion-button (click)="details()" class="bouton" expand="block" fill="outline">
        Ajout event
      </ion-button>
    </ion-col>
    <ion-col size="5">
      <ion-button (click)="removeEvents()" class="bouton" expand="block" fill="outline">
        Tout supprimer
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-button fill="clear" class="bouton" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8" class="ion-text-center">
      <h2>{{ viewTitle }}</h2>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" class="bouton" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <!--Ajout view calendrier sur la page avec mode = month par défaut-->
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    [monthviewDisplayEventTemplate]="MyTemp"
  >
  </calendar>
  <!--Customisation du calendar-->
  <ng-template #MyTemp let-view="view" let-row="row" let-col="col" color="light">
    <div [class.with-event]="view.dates[row*7+col].events.length" >
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
  </ng-template>
</ion-content>


