.card {
    background-color: #000; // black
  }

  .indicator-container {
    //background: var(--ion-color-dark);
    padding-left: 0.5rem;
    padding-bottom: 0.4rem;
  }
   
  .event-indicator {
    //background: var(--ion-color-dark);
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: table-cell;
  }

  .bouton{
    color:#c31730  !important;
    --border-color: #c31730 ;
  }
  
  .with-event {
    background-color: var(--ion-color-danger);
    border-radius: 15px;
  }

  :host ::ng-deep {
    .monthview-primary-with-event {
      background-color: white !important;
    }
   
    .monthview-selected {
      background-color: var(--ion-color-danger) !important;
    }

  
  }
  ion-segment-button{
  
    --color-checked: var(--ion-color-danger);
  }
  /*
  ion-content {
    --overflow: hidden;
    --ion-background-color: #000000 !important;
  }
  */