<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="end">
            <ion-button class="logout" (click)="deconnexion()">
                <ion-icon class="onglet" name="log-out-outline" color="red"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="pers !== null">
    <div class="padding-top">
        <div class="logo-top">
            <ion-img src="../assets/images/logo_dark.svg"></ion-img>
        </div>
        <ion-label text-center>Paramètres du compte</ion-label>
    </div>

    <ion-card>
        <ion-card-title color="light">Compte serveur</ion-card-title>
        <ion-item>
            <ion-icon class="onglet" color="red" name="person-circle"></ion-icon>
            <ion-label>Nom</ion-label>
            <ion-textarea [(ngModel)]="pers.alias" readonly="true"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-icon class="onglet" name="lock-closed" color="red"></ion-icon>
            <ion-button color="red" id="password-btn" (click)="changePassword()">Changer de mot de passe</ion-button>
        </ion-item>
    </ion-card>


    <ion-card *ngIf="etab !== null">
        <ion-card-title color="light">Etablissement</ion-card-title>
        <ion-item>
            <ion-label>Nom</ion-label>
            <ion-text>{{etab.nom_pro}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label>Catégorie</ion-label>
            <ion-text>{{etab.categorie_pro}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label>Adresse</ion-label>
            <ion-textarea [(ngModel)]="etab.adresse" readonly="true"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea [(ngModel)]="etab.description_pro" readonly="true" rows="4"></ion-textarea>
<!--            <ion-text>{{etab.description_pro}}</ion-text>-->
        </ion-item>
    </ion-card>
</ion-content>

