<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Informations</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="pers">
    <ion-card>
        <ion-card-title color="light">Informations serveur</ion-card-title>

        <ion-item (click)="changeName()">
            <!--        <ion-icon class="onglet" color="red" name="wine"></ion-icon>-->
                <ion-label>Nom</ion-label>
                <ion-textarea [(ngModel)]="pers.alias" readonly="true"></ion-textarea>
        </ion-item>

        <ion-item>
            <!--        <ion-icon class="onglet" color="red" name="wine"></ion-icon>-->
            <ion-label>ID</ion-label>
            <ion-textarea [(ngModel)]="pers.login" readonly="true"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-icon class="onglet" name="lock-closed" color="red"></ion-icon>
            <ion-button color="red" id="password-btn" (click)="changePassword()">Changer de mot de passe</ion-button>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-card-title color="light">Supprimer le compte serveur</ion-card-title>

        <ion-item>
            <ion-icon class="onglet" name="trash" color="red"></ion-icon>
            <ion-button color="red" id="delete-btn" (click)="deletePers()">Supprimer</ion-button>
        </ion-item>
    </ion-card>
</ion-content>
