<ion-toolbar class="sub-bar" color="lessdark">
    <ion-segment value=5 (ionChange)="segmentChanged($event)" value="to-come">
        <ion-segment-button value='passed'>
            <ion-label>Passées</ion-label>
        </ion-segment-button>
        <ion-segment-button value='to-come'>
            <ion-label>A venir</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>

<ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullMin="100" pullMax="200">
    <ion-refresher-content
            pullingIcon="arrow-down-outline"
            pullingText="Tirer vers le bas pour actualiser"
            refreshingText="Actualisation...">
    </ion-refresher-content>
</ion-refresher>

<!--Section reservations pssées-->
<div *ngIf="seg==='passed'">
    <div *ngFor="let date of reservationsDatesPasses">
        <ion-list-header color="dark">
            <ion-label>{{date | date: 'EEEE, d MMMM, y' : '': 'fr-FR' | titlecase}}</ion-label>
        </ion-list-header>

        <div *ngFor="let res of reservationsPasses">
            <ion-item color="lessdark" lines="full"
                      (click)="showResaDetails(res)"
                      *ngIf="res.date === date">
                <ion-row>
                    <ion-col class="info">
                        <ion-row>
                            <ion-text class="title-res" color="red">Réservation de : <span
                                    style="font-weight: bolder">{{res.nom_user}} {{res.prenom_user}}</span>
                            </ion-text>
                        </ion-row>
                        <ion-row>
                            <ion-text class="date">Le <span style="font-weight: bold">{{res.date | date: 'EEEE, d MMMM, y' : '': 'fr-FR' | titlecase}}</span> à <span
                                    style="font-weight: bold">{{res.heure}}</span></ion-text>
                        </ion-row>
                        <ion-row>
                            <ion-text class="resa">Réservation pour {{res.nbPerso}} personnes</ion-text>
                        </ion-row>
                        <ion-row *ngIf="hasTerrasse">
                            <ion-text class="resa">Emplacement : {{res.emplacement}}</ion-text>
                        </ion-row>
                        <ion-row *ngIf="res.consigne && res.consigne !== ''">
                            <ion-text class="resa">Consignes particulières : {{res.consigne}}</ion-text>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-item>
        </div>
    </div>
</div>
<!--Section reservation à venir-->
<div *ngIf="seg==='to-come'">
    <div *ngFor="let date of reservationsDatesAVenir">
        <ion-list-header color="dark">
            <ion-label>{{date | date: 'EEEE, d MMMM, y' : '': 'fr-FR' | titlecase}}</ion-label>
        </ion-list-header>

        <div *ngFor="let res of reservationsAVenir">
            <ion-item color="lessdark" lines="full"
                      (click)="showResaDetails(res)"
                      *ngIf="res.date === date">
                <ion-row style="width: 100%;">
                    <ion-col class="info">
                        <ion-row>
                            <ion-text class="title-res" color="red">Réservation de : <span
                                    style="font-weight: bolder">{{res.nom_user}} {{res.prenom_user}}</span>
                            </ion-text>
                        </ion-row>
                        <ion-row>
                            <ion-text class="date">Le <span
                                    style="font-weight: bold">{{res.date | date: 'EEEE, d MMMM, y' : '': 'fr-FR' | titlecase}}</span>
                                à <span
                                        style="font-weight: bold">{{res.heure}}</span></ion-text>
                        </ion-row>
                        <ion-row>
                            <ion-text class="resa">Réservation pour {{res.nbPerso}} personnes</ion-text>
                        </ion-row>
                        <ion-row *ngIf="hasTerrasse">
                            <ion-text class="resa">Emplacement : {{res.emplacement}}</ion-text>
                        </ion-row>
                        <ion-row *ngIf="res.consigne && res.consigne !== ''">
                            <ion-text class="resa">Consignes particulières : {{res.consigne}}</ion-text>
                        </ion-row>
                        <ion-row class="opt-btn">
                            <ion-col size="6">
                                <ion-button *ngIf="res['validation']==='0'" color="red" style="width: 100%;"
                                            expand="block"
                                            fill="solid"
                                            (click)="changeStatus($event, res,'A venir')">confimer
                                </ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button *ngIf="res['validation']==='0'" color="red" style="width: 100%;"
                                            expand="block"
                                            fill="solid"
                                            (click)="refuseRes($event, res)">refuser
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-item>
        </div>

    </div>
</div>
