<h1 class="title" xmlns="http://www.w3.org/1999/html">Ajouter un partenaire</h1>


<div class="formulaire" >
  <form>
    <div class="blocForm" >
    <div class="col blockForm">
      <h5 class="labelForm">Nom du partenaire </h5>
      <input required class="FormInput form-control" type="text" placeholder="Nom" name="name" [(ngModel)]="pro.name">
      <div class="lineForm"></div>

    </div>
    </div>

    <div class="blocForm">
      <h5 class="labelForm">Numéro de siret </h5>
      <input class="FormInput" type="text" placeholder="Numéro de siret" name="siret" [(ngModel)]="pro.siret" >
      <div class="lineForm"></div>

    </div>



  <div class="blocForm">
    <h5 class="labelForm">E-mail </h5>
    <input class="FormInput" type="email" placeholder="Adresse mail" name="email" [(ngModel)]="pro.email">
    <div class="lineForm"></div>
  </div>

  <div class="col blockForm">
    <h5 class="labelForm">Adresse</h5>
    <textarea id="textareaForm"  rows="8" class="FormInput" type="text" placeholder="Adresse  (rue, CP Ville)"  name="adresse" [(ngModel)]="pro.adresse"></textarea>
    <div class="lineForm"></div>
    <br/>
  </div>

    <div class="col blockForm">
      <h5 class="labelForm">Description</h5>
      <textarea rows="8" class="FormInput" id="inputDesc" type="text" placeholder="Description (facultatif, l'établissement pourra la remplir)" name="desc" [(ngModel)]="pro.desc" ></textarea>
      <div class="lineForm"></div>
      <br/>
    </div>

   <h5 class="horaireForm">Horaire d'ouverture </h5>
        <div class="blocHoraire">

         <input type="checkbox" [(ngModel)]="pro.lundi" (click)="showL()">
          <label class="jour">
            Lundi</label>

      <div *ngIf="shown">
          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="timeBloc" id="app" type="time" name="horairesOuvert" [(ngModel)]="pro.horairesOuvertL">
          <label class="labelHoraire">
             Ferme à
          </label>
          <input    class="appt-time timeBloc" id="appt-timeF" type="time" name="horairesFerme" [(ngModel)]="pro.horairesFermeL"><br>
        <input type="checkbox" name="demijournee" [(ngModel)]="pro.demiLundi" (click)="demijourneeL()">
        <label> Cochez s'il s'agit des horaires d'ouverture en demi-journée</label>
        <div *ngIf="shown && demiL">
          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.demiHorairesOuvertL">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.demiHorairesFermeL">
        </div>
        </div>
        </div>


    <div class="blocHoraire">

      <input type="checkbox" [(ngModel)]="pro.Mardi" (click)="showMa()">
      <label class="jour">
        Mardi</label>

      <div *ngIf="shown1">
        <label class="labelHoraire" >
          Ouvre à :
        </label>
        <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.horairesOuvertMa">
        <label class="labelHoraire">
          Ferme à
        </label>
        <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.horairesFermeMa"><br>
        <input type="checkbox" name="demijournee" [(ngModel)]="pro.demiMardi" (click)="demijourneeMa()">
        <label> Cochez s'il s'agit des horaires d'ouverture en demi-journée</label>
        <div *ngIf="shown1 && demiMa">
          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.demiHorairesOuvertMa">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.demiHorairesFermeMa">
        </div>
      </div>
    </div>

    <div class="blocHoraire">

      <input type="checkbox" [(ngModel)]="pro.Mercredi" (click)="showMe()">
      <label class="jour">
        Mercredi</label>

      <div *ngIf="shown2">
        <label class="labelHoraire" >
          Ouvre à :
        </label>
        <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.horairesOuvertMe">
        <label class="labelHoraire">
          Ferme à
        </label>
        <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.horairesFermeMe"> <br>
        <input type="checkbox" name="demijournee" [(ngModel)]="pro.demiMercredi" (click)="demijourneeMe()">
        <label> Cochez s'il s'agit des horaires d'ouverture en demi-journée</label>
        <div *ngIf="shown2 && demiMe">
          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.demiHorairesOuvertMe">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.demiHorairesFermeMe">
        </div>
      </div>
    </div>

    <div class="blocHoraire">

      <input type="checkbox" [(ngModel)]="pro.Jeudi" (click)="showJ()">
      <label class="jour">
        Jeudi</label>

      <div *ngIf="shown3">
        <label class="labelHoraire" >
          Ouvre à :
        </label>
        <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.horairesOuvertJ">
        <label class="labelHoraire">
          Ferme à
        </label>
        <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.horairesFermeJ"><br>
        <input type="checkbox" name="demijournee" [(ngModel)]="pro.demiJeudi" (click)="demijourneeJ()">
        <label> Cochez s'il s'agit des horaires d'ouverture en demi-journée</label>
        <div *ngIf="shown3 && demiJ">
          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.demiHorairesOuvertJ">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.demiHorairesFermeJ">
        </div>
      </div>
    </div>

    <div class="blocHoraire">

      <input type="checkbox" [(ngModel)]="pro.Vendredi" (click)="showV()">
      <label class="jour">
        Vendredi</label>

      <div *ngIf="shown4">
        <label class="labelHoraire" >
          Ouvre à :
        </label>
        <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.horairesOuvertV">
        <label class="labelHoraire">
          Ferme à
        </label>
        <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.horairesFermeV"><br>
        <input type="checkbox" name="demijournee" [(ngModel)]="pro.demiVendredi" (click)="demijourneeV()">
        <label> Cochez s'il s'agit des horaires d'ouverture en demi-journée</label>
        <div *ngIf="shown4 && demiV">
          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.demiHorairesOuvertV">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.demiHorairesFermeV">
        </div>
      </div>
    </div>

    <div class="blocHoraire">

      <input type="checkbox" [(ngModel)]="pro.Samedi" (click)="showS()">
      <label class="jour">
        Samedi</label>

      <div *ngIf="shown5">
        <label class="labelHoraire" >
          Ouvre à :
        </label>
        <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.horairesOuvertS">
        <label class="labelHoraire">
          Ferme à
        </label>
        <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.horairesFermeS"><br>
        <input type="checkbox" name="demijournee" [(ngModel)]="pro.demiSamedi" (click)="demijourneeS()">
        <label> Cochez s'il s'agit des horaires d'ouverture en demi-journée</label>
        <div *ngIf="shown5 && demiS">
          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.demiHorairesOuvertS">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.demiHorairesFermeS">
        </div>
      </div>
    </div>

    <div class="blocHoraire">

      <input type="checkbox" [(ngModel)]="pro.Dimanche" (click)="showD()">
      <label class="jour">
        Dimanche</label>

      <div *ngIf="shown6">
        <label class="labelHoraire" >
          Ouvre à :
        </label>
        <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.horairesOuvertD">
        <label class="labelHoraire">
          Ferme à
        </label>
        <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.horairesFermeD"><br>
        <input type="checkbox" name="demijourneeD" [(ngModel)]="pro.demiDimanche" (click)="demijourneeD()">
        <label> Cochez s'il s'agit des horaires d'ouverture en demi-journée</label>
        <div *ngIf="shown6 && demiD">
          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="timeBloc"  type="time" name="horairesOuvert" [(ngModel)]="pro.demiHorairesOuvertD">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input    class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="pro.demiHorairesFermeD">
        </div>
      </div>
    </div>

    <div class="blocForm select">

      <h5>Catégorie </h5>
      <select class="form-control" [(ngModel)]="pro.cat"  name="cat">
        <option value="bar">Bar</option>
        <option value="restaurant">Restaurant</option>
        <option value="boite de nuit">Boîte de nuit </option>
      </select>
    </div>


    <div class="col blockForm">
      <h5 class="labelForm">Terrasse </h5>
      <div class="blocRadio">
        <input class="radioInput" type="radio"   name="terasse" (click)="pro.terasse = 1" > <label>OUI</label>
      </div>

      <div class="blocRadio">
        <input class="radioInput" type="radio"  name="terasse" (click)="pro.terasse = 0" > <label>NON</label>
      </div>

    </div>

    <div class="col blockForm">
      <h5 class="labelForm">Possibilté de commander </h5>
      <div class="blocRadio">
        <input class="radioInput" type="radio"   name="commander" (click)="pro.commander = 1" > <label>OUI</label>
      </div>

      <div class="blocRadio">
        <input class="radioInput" type="radio"  name="commander" (click)="pro.commander = 0" > <label>NON</label>
      </div>

    </div>

    <div class="col blockForm">
      <h5 class="labelForm">Type de service </h5>
      <div class="blocRadio">
        <input class="radioInput" type="radio"   name="service" (click)="pro.service = 'comptoir'" > <label>Retrait au comptoir</label>
      </div>

      <div class="blocRadio">
        <input class="radioInput" type="radio"  name="service" (click)="pro.service = 'table'" > <label>Service à table</label>
      </div>

      <div class="blocRadio">
        <input class="radioInput" type="radio"  name="service" (click)="pro.service = 'tout'" > <label>Les deux</label>
      </div>

    </div>



  </form>
  <div class="blocSubmit">
    <button class="buttonForm" type="submit" name="action" value="" (click)= "onSubmit()" ><label class="submitLabel">AJOUTER</label></button>
  </div>
</div>


