/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'DscriptR';
  src: url('assets/fontStyles/DancingScript-Regular.ttf');
}

@font-face {
  font-family: 'Dscript';
  src: url('assets/fontStyles/DancingScript-Bold.ttf');
}

@font-face {
  font-family: 'Demo';
  src: url('assets/fontStyles/Demo_ConeriaScript.ttf');
}

@font-face {
  font-family: 'Enjoy';
  src: url('assets/fontStyles/Enjoy Christmas.ttf');
}

app-header {
  height: 70px;
  width: 100%;
  background-color: #1e2023 ;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;
}

app-header h1 {
  color: white;
  margin: 0;
}



a:hover {
  opacity: 0.8;
}

body{
  background-color: #0d0d0d;
}



