.big-avatar {
  margin: auto;
  width: 120px;
  height: 120px;
  font-size: 60px;
}

.padding-top {
  padding: 5px;

  text-align: center;
  color: var(--ion-color-light);

}

.padding-bottom {
  bottom: 1vh;
  text-align: center;
  color: var(--ion-color-light);

}

.center {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50%;
}


.back {
  color: var(--ion-color-light);
}

.title {
  width: auto;
  color: var(--ion-color-light);
}


ion-header {

  --ion-background-color: #000000 !important;

}

ion-toolbar {

  --ion-background-color: #000000 !important;

}

ion-content {
  --ion-background-color: #000000 !important;
}

ion-item {
  --ion-background-color: inherit;
  color: var(--ion-color-light);
}

ion-label {
  color: #b3b3b3 !important;

}

.onglet {
  color: var(--ion-color-red);
  padding-right: 10px;
  padding-left: 2px;
}

.larger {
  color: var(--ion-color-red);
  font-size: 100px;
}

ion-button {
  text-transform: uppercase;
}


.title {
  width: auto;
  color: var(--ion-color-light);
}

.logout {
  color: var(--ion-color-light);
}

ion-input {
  --color: #ffffff;
  --placeholder-color: #ffffff;
}

.paiement {
  --color-focused: #ffffff;

  --color-hover: #ffffff;
  --background-hover: #ffffff;

}

.choice-btn {
  border: none !important;
  color: lighten($color: #f8f8f8, $amount: 0) !important;
  text-align: center;
  --border-radius: 64px !important;
  --border: none !important;
}

.logo {
  margin: 10vh;
}

.logo ion-img {
  height: auto;
  width: 15vh;
  text-align: center;
  margin: auto;
  display: flex;
}

.cont {
  text-align: center;
}

ion-card {
  --margin: 2vh;
  --ion-background-color: var(--ion-color-dark);
  border-radius: 4px !important;
}

ion-card ion-item {
  margin-bottom: 1.5vh !important;
  margin-right: 1vh;
  margin-left: 1vh;
  --border-color: #1a1a1a !important;
}

ion-card ion-card-title {
  margin: 1vh !important;
  --font-size: medium !important;
  font-size: medium !important;
  width: auto;
}

ion-card ion-label {
  margin-right: 1vh;
}

ion-card ion-input {
  //--background: var(--ion-color-lessdark) !important;
  text-align: right;
}

#password-btn, #wallet-btn {
  width: 100%;
}

#since {
  font-size: small;
  color: #5b5b5b !important;
  text-align: center;
}

.buttons {
  margin-top: 2vh;
  margin-right: 1vh;
  margin-left: 1vh;
}

.buttons ion-button {
  margin-bottom: 1vh;
}