<!--Affichage des informations si un user est connecté-->
<ion-content *ngIf="user !== null">
    <ion-toolbar color="dark">
        <ion-buttons slot="end">
            <ion-button class="logout" (click)="deconnexion()">
                <ion-icon class="onglet" name="log-out-outline" color="red"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <image-cropper *ngIf="show == 1"
                   [imageBase64]="base64Image"
                   [maintainAspectRatio]="true"
                   [aspectRatio]="4 / 3"
                   format="jpeg"
                   (imageCropped)="imageCropped($event)"
                   outputType="base64">

    </image-cropper >

    <div class="padding-top">
        <div *ngIf="base64Image!=='data:image/jpeg;base64,'&& base64Image!=='data:image/jpeg;base64,null'&&base64Image && user.photo">
            <ion-avatar (click)="openGallery()" class="big-avatar" (change)="onFileSelected($event)">
                <!--  <img src="{{croppedImg}}"/>  -->

                <ion-img [src]="croppedImg"></ion-img>
            </ion-avatar>
        </div>
        <!--Si il n'a pas de photo, on affiche une icone par défaut-->
        <div *ngIf="base64Image==='data:image/jpeg;base64,'||base64Image==='data:image/jpeg;base64,null'||!base64Image || !user.photo">
            <ion-avatar (click)="openGallery()" class="big-avatar">
                <ion-icon class="larger" name="person-circle" color="red"></ion-icon>
            </ion-avatar>
        </div>
        <!--        <ion-label (click)="changeId()" text-center class="padding-top"> {{user.prenom}} {{user.nom}} </ion-label>-->
        <ion-label>C'est ici que tu peux voir et modifier ton profil</ion-label>
    </div>

    <!--    <ion-list>-->
    <!--        <ion-item (click)="changeMail()" mode="md" lines="none">-->
    <!--            <ion-icon class="onglet" name="mail"></ion-icon>-->
    <!--            <ion-label>{{user.email}}</ion-label>-->
    <!--            <ion-icon name="chevron-forward"></ion-icon>-->
    <!--        </ion-item>-->
    <!--        <ion-item (click)="changePassword()" mode="md" lines="none">-->
    <!--            <ion-icon class="onglet" name="lock-closed"></ion-icon>-->
    <!--            <ion-input type="password" value='motdepasse'></ion-input>-->
    <!--            <ion-icon name="chevron-forward"></ion-icon>-->
    <!--        </ion-item>-->
    <!--        <ion-item class='paiement' routerLink='/paiement' mode="md" lines="none">-->
    <!--            <ion-icon class="onglet" name="card"></ion-icon>-->
    <!--            <ion-label class='paiement'>Paiement</ion-label>-->
    <!--            <ion-icon name="chevron-forward"></ion-icon>-->
    <!--        </ion-item>-->
    <!--    </ion-list>-->


    <ion-card>
        <ion-card-title color="light">Identifiants</ion-card-title>
        <ion-item>
            <ion-icon class="onglet" name="mail" color="red"></ion-icon>
            <ion-label>Email</ion-label>
            <ion-input [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon class="onglet" name="lock-closed" color="red"></ion-icon>
            <ion-button color="red" id="password-btn" (click)="changePassword()">Changer de mot de passe</ion-button>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-card-title color="light">Informations personnelles</ion-card-title>
        <ion-item>
            <ion-label>Nom</ion-label>
            <ion-input [(ngModel)]="user.nom"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Prenom</ion-label>
            <ion-input [(ngModel)]="user.prenom"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Genre</ion-label>
            <ion-select [okText]="oktext" [cancelText]="canceltext" type="text" [(ngModel)]="user.sexe">
                <ion-select-option value="femme">Femme</ion-select-option>
                <ion-select-option value="homme">Homme</ion-select-option>
                <ion-select-option value="autre">Autre</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-card>

<!--    <ion-card>-->
<!--        <ion-card-title color="light">Informations de paiement</ion-card-title>-->
<!--        <ion-item>-->
<!--            <ion-icon class="onglet" name="card" color="red"></ion-icon>-->
<!--            <ion-button color="red" id="wallet-btn" (click)="openWallet()">Wallet</ion-button>-->
<!--        </ion-item>-->
<!--    </ion-card>-->

    <div class="padding-bottom" *ngIf="user.date_inscr">
        <ion-label id="since">Tu es membre de So FAR depuis le {{user.date_inscr | date: 'dd/MM/yyyy'}} !</ion-label>
    </div>

    <div class="buttons">
        <ion-button color="red" expand="block" shape="round" (click)="updateProfil()">
            Enregistrer
        </ion-button>
<!--        <ion-button color="gray" expand="block" shape="round" (click)="updateUser()">-->
<!--            Annuler-->
<!--        </ion-button>-->
    </div>

</ion-content>


<!--Demande de connexion ou d'inscription si aucune user est connecté-->
<ion-content *ngIf="user === null">
    <app-redirection-client></app-redirection-client>
</ion-content>
