<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Détails Réservation</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <!--        Informations sur la réservation    ----------------------------------->
        <ion-list-header color="dark">
            <ion-label>Informations sur la réservation</ion-label>
        </ion-list-header>

        <ion-item color="lessdark">
            <ion-label slot="start" class="left-slot ion-text-wrap">Date</ion-label>
            <ion-label slot="end"
                       class="right-slot ion-text-wrap">{{reservation.date | date: 'EEEE, d MMMM, y' : '': 'fr-FR' | titlecase}}</ion-label>
        </ion-item>

        <ion-item color="lessdark">
            <ion-label slot="start" class="left-slot ion-text-wrap">Heure</ion-label>
            <ion-label slot="end" class="right-slot ion-text-wrap">{{reservation.heure}}</ion-label>
        </ion-item>

        <ion-item color="lessdark">
            <ion-label slot="start" class="left-slot ion-text-wrap">Nombre de personnes</ion-label>
            <ion-label slot="end" class="right-slot ion-text-wrap">{{reservation.nbPerso}}</ion-label>
        </ion-item>

        <ion-item color="lessdark">
            <ion-label slot="start" class="left-slot ion-text-wrap">Emplacement</ion-label>
            <ion-label slot="end" class="right-slot ion-text-wrap">{{reservation.emplacement}}</ion-label>
        </ion-item>

        <ion-item color="lessdark">
            <ion-label slot="start" class="left-slot ion-text-wrap">Consigne</ion-label>
            <ion-label slot="end" class="right-slot ion-text-wrap">{{reservation.consigne}}</ion-label>
        </ion-item>


        <!--        Participant(s) à la réservation    ----------------------------------->
        <ion-list-header color="dark">
            <ion-label>Participant(s) à la réservation</ion-label>
        </ion-list-header>

        <ion-item color="dark">
            <ion-note color="light" >
                Cliquer sur un participant pour voir son profil.
            </ion-note>
        </ion-item>


        <div class="participants">
            <ion-item color="lessdark" (click)="showUserInfos(reservation.id_user)">
                <ion-label class="ion-text-wrap">
                    <ion-label class="user">{{reservation.nom_user}} {{reservation.prenom_user}}</ion-label>
                    <ion-note color="light">
                        Cet utilisateur a pris la réservation.
                    </ion-note>
                </ion-label>
            </ion-item>

            <div *ngIf="reservation.participants.length > 0">
                <div *ngFor="let participant of reservation.participants">
                    <ion-item color="lessdark" (click)="showUserInfos(participant.id_u)">
                        <ion-label class="user">{{participant.nom_u}} {{participant.prenom_u}}</ion-label>
                    </ion-item>
                </div>
            </div>
        </div>


        <!--        Informations supplémentaire    ----------------------------------->
        <ion-list-header color="dark">
            <ion-label>Informations supplémentaires</ion-label>
        </ion-list-header>

        <ion-item color="lessdark">
            <ion-label slot="start" class="ion-text-wrap">Date de prise de réservation</ion-label>
            <ion-label slot="end" class="right-slot ion-text-wrap">{{reservation.createdAt}}</ion-label>
        </ion-item>

        <ion-item color="lessdark">
            <ion-label slot="start" class="ion-text-wrap">Etat</ion-label>
            <ion-label slot="end" class="right-slot ion-text-wrap">{{reservation.etat}}</ion-label>
        </ion-item>

        <ion-item color="lessdark">
            <ion-label slot="start" class="ion-text-wrap">Validation</ion-label>
            <ion-label slot="end" class="right-slot ion-text-wrap">{{reservation.validation === 1 ? 'Validé' : 'En attente de validation'}}</ion-label>
        </ion-item>


    </ion-list>
</ion-content>
