ion-grid {
  color: white;
}

.left-slot {
  //flex: 0 0 45vw;
  font-weight: bold;
}

.right-slot {
  flex-grow: 100;
  text-align: right;
}

.participants {
  text-align: center;
}

.user {
  font-size: large;
  font-weight: bold;
}