<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Article</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="black">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-row class="art-name">
                    <ion-label>{{article.article_nom}}</ion-label>
                </ion-row>
                <ion-row class="art-desc">
                    <ion-label>{{article.article_desc}}</ion-label>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="quantity-selector">
            <ion-buttons id="quantity-buttons">
                <ion-button [disabled]="quantity <= 1" (click)="decrQuantity()">
                    <ion-icon slot="icon-only" name="remove" color="red"></ion-icon>
                </ion-button>
                <ion-label id="quantity">{{quantity}}</ion-label>
                <ion-button (click)="incrQuantity()">
                    <ion-icon slot="icon-only" name="add" color="red"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-row>
        <ion-row *ngIf="isArticleInPanier">
            <ion-button (click)="removeFromPanier()" expand="full" color="red" id="remove-btn">Supprimer du panier</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar color="black">
        <ion-button color="red" expand="full" (click)="addToPanier()">
            Ajouter {{quantity}} — {{prixTotal().toFixed(2)}}€
        </ion-button>
    </ion-toolbar>
</ion-footer>