.art-name {
  margin-bottom: 2vh;
  font-size: x-large;
  font-weight: bold;
}

.art-desc {
  margin-bottom: 1vh;
  color: #a0a0a0;
}

ion-label {
  margin-right: 1vh;
  margin-left: 1vh;
}

.quantity-selector ion-buttons {
  margin-left: auto;
  margin-right: auto;
}

#remove-btn {
  width: 100%;
}