<h3 class="title">Liste des partenaires</h3>
<nav>
<ul class="blocList">

    <li #testid class="eltList" *ngFor= "let item of pro " [attr.data-id]="item.id_pro"  >

      <a [routerLink]="['../listDetails']"  (click)="clickEvent(testid)">
      <div class="eltContenu" >
        {{ item.id_pro }} -
        {{ item.nom_pro }} <br/> <br>

      </div>
      </a>

    </li>

</ul>
</nav>
