.title{
  text-align: center;
  font-family: Dscript;
  font-size: 90px;
  letter-spacing: 3px;
  margin-top: 50px;
  color: white;
}

.eltList{
  color: white;
  justify-content: center;
  border: 1px solid darkred;
  border-radius: 3px;
  margin-bottom: 1%;

  font-size: 30px;
  font-family: cursive ;
  font-weight: bolder;
  letter-spacing: 5px;
  background-color: black;

}
.eltContenu{
  margin-left: 5%;
  color: white;
  padding: 20px;

}

.blocList{

  line-height: 200%;
  list-style: none;
}

nav{
  padding: 10% 5% 10% 2%;
  margin: 0px 15% 0px 15%;

}

a{
  cursor: pointer;
  text-decoration: none;
}

button{
  float: right;
  margin-bottom: 20px;

}
