<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)='pop()' color="light">
                <ion-icon color="light" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>


        <ion-item *ngIf="!noresult" class="tri" slot="end" color="dark">
            <!--<ion-icon name="options-outline" color="light"></ion-icon>-->
            <ion-label>Trier par</ion-label>
            <ion-select [okText]="oktext" [cancelText]="canceltext" interface="popover" (ngModelChange)="refresh_criteres($event)" [(ngModel)]="research.tri">
                <ion-select-option *ngFor="let choix of choices">{{choix}}</ion-select-option>

            </ion-select>
        </ion-item>

        <ion-title class="ion-text-left">Résultats</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row *ngIf="noresult" class="noresult"> <ion-text color="light">Aucun résultat, mais pas d'inquiétude, So FAR arrive bientôt près de chez toi !  </ion-text></ion-row>
    <div *ngIf="afficher">
        <!-- Création d'une card pour chaque établissement -->
        <ion-card *ngFor="let cards of item" button="true" (click)="clickCards(cards)" color="dark">
            <ion-row [id]="cards.id+'resultat'" class="ion-align-items-center">

                <ion-card [ngClass]="[cards.ouvert ? 'carte_image_etab' : 'carte_image_etab_ferme']" class="carte_image_etab">
                    <ion-img class="image_etab" [src]="cards.img"></ion-img>
                </ion-card>

                <ion-col>
                    <ion-text [ngClass]="[cards.ouvert ? 'bar_ouvert' : 'bar_ferme']" color="red">{{ cards.name }} <br> <br></ion-text>
                    <div class="ion-text-capitalize">
                        <ion-text [ngClass]="[cards.ouvert ? 'bar_ouvert' : 'bar_ferme']">{{cards.categorie}} <br></ion-text>
                    </div>
                    <ion-text [ngClass]="[cards.ouvert ? 'bar_ouvert' : 'bar_ferme']">{{cards.horaires}} <br> <br> <br></ion-text>
                    <div [id]="cards.id" class="ion-align-items-center">
                        <ion-text [ngClass]="[cards.ouvert ? 'bar_ouvert' : 'bar_ferme']">
                            <ion-icon name="navigate"></ion-icon>
                            {{cards.distance}}</ion-text>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="notes">
                <ion-text [ngClass]="[cards.ouvert ? 'bar_ouvert' : 'bar_ferme']" color="light" *ngIf="cards.note==null"> Cet établissement n'a pas encore de note !</ion-text>
                <rating *ngIf="cards.note!=null" class="detail" size='small' [(ngModel)]="cards.note" readonly="true"></rating>
            </ion-row>
        </ion-card>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="desactive">
            <ion-infinite-scroll-content  class="spinner"></ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </div>
</ion-content>

