.card {
    background-color: #000; // black
    box-shadow: none;
  }
.image_etab_scroll{
    height: 100%;
}
.top {
  vertical-align: top;
}

ion-content {
  --ion-background-color: #0a0a0a ;
}

.tri{
  width: 155px;
  padding-right:10px;
}

ion-select::part(text) {
  display: none !important;
}

.loading-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}

.carte_image_etab_ferme{
  max-height: 18.75vh;
  max-width: 33.34vw;
  opacity:0.5;
}

.bar_ferme{
  opacity: 0.5;
}

.noresult{
  padding-left: 30px;
  padding-top: 30px;
  text-align: center;
  margin-right: 2vh;
}

.notes{
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 15px;
}

.spinner{
  --color:white !important;
}
