#search-bar, #cat-scroll, .d-row, #top-bar {
  background-color: var(--ion-color-dark);
}

#cat-scroll {

}

.d-row p {
  color: white;
  font-weight: bold;
  margin-left: 1.5vw;
}

.d-row ion-row {
}

.d-row ion-list {
  background-color: transparent;
}

ion-item {
}

ion-list-header {
  font-size: x-large;
  font-weight: bold;
}

.article {
}

.article-not-dispo {
  pointer-events: none;
  opacity: 0.6; //This grays it out to look disabled
}

.art-name {
  font-weight: bold;
  margin-bottom: 1vh;
  font-size: large;
}

.art-desc ion-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 16px;
  max-height: 32px;
  -webkit-box-orient: vertical;
  margin-bottom: 1vh;
  color: #a0a0a0;
}

.art-price {
}

#footer {
  bottom: 1vh;
  position: fixed;
  width: 100%;
  z-index:3;
}

#footer ion-toolbar {
  background: transparent;
  --background: transparent;
}

ion-list-header {
  padding-bottom: 1vh;
}

#cat-scroll {
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}

#blank-space {
  margin-bottom: 10vh;
}

#top-bar ion-item {
  width: 100%;
}

#top-bar ion-item ion-label {
  font-size: x-large;
  font-weight: bolder;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
}