<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Commande</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="main-content">
    <ion-row id="top-bar">
        <ion-item color="dark">
            <ion-label id="etab-name">{{name}}</ion-label>
        </ion-item>
    </ion-row>

    <div *ngIf="categories && categories.length > 0">

        <ion-row id="search-bar">
            <ion-col size="12">
                <ion-item color="lessdark" id="search">
                    <ion-icon name="search"></ion-icon>
                    <ion-input clear-input="true" id="search-input" placeholder="Rechercher un item"
                               [(ngModel)]="search"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row class="d-row">
            <ion-row>
                <p>Catégories</p>
                <p style="color: #d7d7d7;">Clique sur une catégorie pour y accéder rapidement</p>
            </ion-row>
            <ion-row id="cat-scroll" class="ion-text-center">
                <ion-list *ngFor="let cat of categories">
                    <ion-col size="4">
                        <ion-item color="lessdark" (click)="scrollToCat(cat.categorie_id)">
                            <ion-label>{{cat.categorie_nom}}</ion-label>
                        </ion-item>
                    </ion-col>
                </ion-list>
            </ion-row>
        </ion-row>

        <ion-list>
            <div *ngFor="let cat of categories">
                <div [id]="'cat-' + cat.categorie_id" style="height: 0"></div>
                <ion-list-header color="dark"
                                 *ngIf="search === '' || (search !== '' && getNumberOfArticleInCategorieFromSearch(cat) > 0)">
                    {{cat.categorie_nom}}
                </ion-list-header>
                <div *ngFor="let art of articles">
                    <ion-item
                            *ngIf="art.article_categorie === cat.categorie_id && ((search === '') || (search !== '' && art.article_nom.toLowerCase().includes(search.toLowerCase())))"
                            color="lessdark" (click)="openArticle(art)"
                            [ngClass]="art.article_dispo ? 'article' : 'article-not-dispo'">
                        <ion-col>
                            <ion-row class="art-name">
                                <ion-label slot>{{art.article_nom}}</ion-label>
                            </ion-row>
                            <ion-row class="art-desc">
                                <ion-text>{{art.article_desc}}</ion-text>
                            </ion-row>
                            <ion-row class="art-price">
                                <ion-label>{{art.article_prix}} €</ion-label>
                            </ion-row>
                            <ion-row *ngIf="!art.article_dispo">
                                <ion-label class="ion-text-wrap">Ce produit n'est actuellement pas disponible.
                                </ion-label>
                            </ion-row>
                        </ion-col>
                    </ion-item>
                </div>
            </div>
        </ion-list>

        <div id="blank-space"></div>

        <ion-row id="footer" *ngIf="panier.length > 0">
            <ion-toolbar>
                <ion-button color="red" expand="full" (click)="goToBasket()">
                    <ion-icon slot="start" name="basket"></ion-icon>
                    Mon panier ({{countArticleInPanier()}})
                </ion-button>
            </ion-toolbar>
        </ion-row>

    </div>

</ion-content>

