<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Mon wallet</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="black">

</ion-content>