/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.calendar-event {
    --height: 85%;
    --border-radius: 10px;
    padding: 25px;
}

.ion-padding,
[padding] {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.modal_recherche .modal-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.carte_image_etab{
    max-height: 18.75vh;
    max-width: 33.34vw;
}
.image_etab{
    height: 18.75vh;
    width: 33.34vw;
    object-fit: cover;
}

:root {
    .popover-content {
        left: 5% !important;
        width: 90%;
    }

    .ion-radio {
        --color: transparent;
        --color-checked: transparent;
    }
}

.li-ionic4-datePicker {
    --ion-text-color:white;
    .modal-wrapper {
        height: 440px;
        max-height: 100%;
        width: 312px;
        ion-content{
            --ion-background-color: #1f1f1f;
        }
        .weeks{
            color:#e42b2f;
        }
    }

    .disabled {
        color: #2b2b2b !important;
    }

}

.li-dp-input{
    border-bottom: 1px solid #e42b2f !important;
    background:#1f1f1f;
}

ion-content {
    --ion-background-color: #000000 !important;
}
