ion-content {
    --overflow: hidden;
    
    //--ion-background-color: #000000 !important;
  
  
  }


ion-tab-bar{
  --border:var(--ion-color-secondary);
  --background: black;
}
ion-tab-button{
  --background:  #000000 ;
  --color-focused	:  var(--ion-color-red);
  --color-selected: var(--ion-color-red);
  --color:  var(--ion-color-light);
}
