<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <!--            <ion-tab-button tab="calendrier">-->
            <!--                <ion-icon name="calendar-outline"></ion-icon>-->
            <!--                <ion-label>Calendrier</ion-label>-->
            <!--            </ion-tab-button>-->
            <ion-tab-button tab="services">
                <ion-icon name="clipboard-outline"></ion-icon>
                <ion-label>Services</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="carte-pro">
                <ion-icon name="beer-outline"></ion-icon>
                <ion-label>Carte</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="gestion-personnel">
                <ion-icon name="people-outline"></ion-icon>
                <ion-label>Personnel</ion-label>
            </ion-tab-button>
            <!--<ion-tab-button tab="stats">
              <ion-icon name="podium-outline"></ion-icon>
              <ion-label>Stats</ion-label>
            </ion-tab-button>-->
            <ion-tab-button tab="mon-compte-partenaire">
                <ion-icon name="person-outline"></ion-icon>
                <ion-label>Compte</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

</ion-content>
