<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Commande - {{order.pro_nom}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header color="dark">
            <ion-label>Articles</ion-label>
        </ion-list-header>

        <ion-item color="lessdark" class="title">
            <ion-row>
                <ion-col size="4">
                    <ion-label class="ion-text-wrap">Quantité</ion-label>
                </ion-col>
                <ion-col class="col-value" size="8">
                    <ion-label class="ion-text-wrap">
                        Article
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-item>

        <div class="commande" *ngFor="let item of order.items">
            <ion-item color="lessdark">
                <ion-row>
                    <ion-col size="4">
                        <ion-label class="left-slot ion-text-wrap">
                            {{item.quantity}}
                        </ion-label>
                    </ion-col>
                    <ion-col class="col-value" size="8">
                        <ion-label class="ion-text-wrap">
                            {{item.article_nom}}
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-item>
        </div>


        <ion-list-header color="dark">
            <ion-label>Autres informations</ion-label>
        </ion-list-header>

        <ion-item color="lessdark">
            <ion-row>
                <ion-col size="6">
                    <ion-label class="left-slot ion-text-wrap">Montant de la commande</ion-label>
                </ion-col>
                <ion-col class="col-value" size="6">
                    <ion-label class="ion-text-wrap">{{order.total}} €</ion-label>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item color="lessdark">
            <ion-row>
                <ion-col size="6">
                    <ion-label class="left-slot ion-text-wrap">Pourboire</ion-label>
                </ion-col>
                <ion-col class="col-value" size="6">
                    <ion-label class="ion-text-wrap">{{order.pourboire}} €</ion-label>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item color="lessdark">
            <ion-row>
                <ion-col size="6">
                    <ion-label class="left-slot ion-text-wrap">Date de commande</ion-label>
                </ion-col>
                <ion-col class="col-value" size="6">
                    <ion-label class="ion-text-wrap">
                        {{order.createdAt.split(":")[0]+":"+order.createdAt.split(":")[1]}}
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item color="lessdark">
            <ion-row>
                <ion-col size="6">
                    <ion-label class="left-slot ion-text-wrap">Status de la commande</ion-label>
                </ion-col>
                <ion-col class="col-value" size="6">
                    <ion-label class="ion-text-wrap">
                        {{order.order_status}}
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-item>


    </ion-list>
</ion-content>
