<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{viewTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color= "danger" (click)="save()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input type="text" [(ngModel)]="event.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-input type="text" [(ngModel)]="event.desc"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Heure debut</ion-label>
    <ion-datetime [doneText]="oktext" [cancelText]="canceltext"required displayFormat="HH : mm" pickerFormat="HH : mm" placeholder="Heure" [(ngModel)]="hour_start" ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Heure fin</ion-label>
    <ion-datetime [doneText]="oktext" [cancelText]="canceltext"required displayFormat="HH : mm" pickerFormat="HH : mm" placeholder="Heure" [(ngModel)]="hour_end" ></ion-datetime>
  </ion-item>
  <ion-item lines="none" >
    <ion-label> Happy hour</ion-label>
    <ion-checkbox checked="{{happyh}}"  (ionChange)="isHappy()" > </ion-checkbox>
   </ion-item>
  <!--View calendrier sur la page calendar-event pour choisir le jour de l'évènement-->
  <calendar
    *ngIf="modalReady"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    lockSwipes="true"
  >
  </calendar>
<!--Changer l'affichage d'un jour avec event sur le calendrier-->
  <ng-template #MyTemp let-view="view" let-row="row" let-col="col" color="light">
    <div [class.with-event]="view.dates[row*7+col].events.length" >
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
  </ng-template>
</ion-content>
