:host ::ng-deep {
    
    .monthview-container {
        height: auto !important;
    }

}

:host ::ng-deep {
    .monthview-primary-with-event {
      background-color: white !important;
    }
   
    .monthview-selected {
      background-color: var(--ion-color-danger) !important;
    }

  
  }

.boutonFooter{
    color:#c31730 ;

}