h1{
  font-size: 30px;
  color: white;
}
img{
  margin-top: 3px;
  width: 95px;
  height: 95px;
}

label {
  cursor: pointer;
  color: lightgray;
  justify-content: space-between;
  margin-right: 20px;
  font-weight: 500;
  font-size: large;
  text-shadow: 1px 1px 1px gray;
}

a{
  text-decoration: none;
  margin-right: 20px;
}





