
<a routerLink="./home" class="">
  <img src="../assets/images/icon.png">

</a>
<nav class="navbar">
  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <a routerLink="./addPartner" class="button">
        <label>Ajouter un partenaire</label>
      </a>

      <a routerLink="./listPartner" class="button">
        <label> Liste des partenaires </label>
      </a>

      <a routerLink="./commentaires" class="button">
        <label> Commentaires </label>
      </a>
    </a>



  </div>
</nav>

