<ion-content>
    <div class="padding">

        <div class="header">
            <ion-button routerLink="/connexion-partenaire" slot="end" fill="clear">Espace partenaire
            </ion-button>
        </div>

        <div class="logo">
            <ion-img src="../assets/images/logo_dark.svg"></ion-img>
        </div>

        <ion-item>
            <!--            <ion-text color="dark">Connecte-toi!</ion-text>-->
            <p>Connecte-toi!</p>
        </ion-item>
        <!--Formulaire de connexion-->
        <div class="form">
            <ion-item>
                <ion-label color="light">Email</ion-label>
                <ion-input clear-input="true" required color="light" type="mail" placeholder="Adresse email"
                           [(ngModel)]="email" inputmode="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="light">Mot de passe</ion-label>
                <ion-input clear-input="true" required color="light" type="password" placeholder="Mot de passe"
                           [(ngModel)]="mdp" (keypress)="onEnter($event.keyCode)"></ion-input>
            </ion-item>
            <div class="options">
                <ion-item lines="none">
                    <ion-button size="small" slot="end" fill="clear" (click)="forgotPassword()">Mot de
                        passe
                        oublié ?
                    </ion-button>
                </ion-item>
                <!--                <ion-item lines="none" (click)="isChecked()">-->
                <!--                    <ion-checkbox style="margin-right:0%;" checked="{{connecte}}" slot="end"-->
                <!--                                  ></ion-checkbox>-->
                <!--                    <ion-button style="margin-left:0%;" size="small" slot="end" fill="clear">Rester-->
                <!--                        connecté(e)-->
                <!--                    </ion-button>-->
                <!--                </ion-item>-->
            </div>
            <!--Boutons inscription, connexion et j'ignore-->
            <ion-button expand="block" color="red" (click)="login()" class="login-btn">Je me
                connecte
            </ion-button>
        </div>

        <ion-button color="red" expand="block" routerLink="/inscription-client" class="register-btn">Je
            m'inscris
        </ion-button>
        <ion-button size="small" color="gray" expand="block" routerLink="/tabs-client" class="ignore-btn">J'ignore pour
            le
            moment
        </ion-button>
    </div>
</ion-content>
