<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Modification - Article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title color="light">Modification d'une catégorie</ion-card-title>
    <form (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-label>Nom de la catégorie</ion-label>
          </ion-row>
          <ion-row>
            <ion-input required type="text" [(ngModel)]="categorie.categorie_nom" name="nom"></ion-input>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-button (click)="onSubmit()" color="red" size="default" id="submit-btn" expand="block">Valider
        </ion-button>
      </ion-item>

      <!--            <ion-item-divider color="dark"></ion-item-divider>-->

      <ion-item>
        <ion-button (click)="deleteArticle()" color="red" size="default" id="delete-btn" expand="block">Supprimer la catégorie
        </ion-button>
      </ion-item>
    </form>
  </ion-card>

  <ion-card>
    <ion-card-title color="light">Articles associés</ion-card-title>

    <div *ngFor="let art of articles">
      <ion-item color="lessdark" (click)="editArticle(art)">
        <ion-label>{{art.article_nom}}</ion-label>
      </ion-item>
    </div>

  </ion-card>
</ion-content>