<ion-content *ngIf="user !== null">

    <div *ngIf="favoris.length === 0" class="noFav" (click)="goRecherchePage()">
        <ion-avatar class="big-avatar">
            <ion-icon name="search" color="red"></ion-icon>
        </ion-avatar>
        <ion-label color="light">
            Recherche de nouveaux bars et ajoute les dans tes favoris !
        </ion-label>
        <!--        <svg viewBox="0 0 50 50">-->
        <!--            <ion-icon name="heart"></ion-icon>-->
        <!--            <ion-icon name="add-circle"></ion-icon>-->
        <!--        </svg>-->
    </div>

    <ion-card *ngFor="let favs of favoris" button="true" (click)="clickCards(favs)" color="dark">
        <!--Une carte par établissement favoris-->
        <ion-card-header>
            {{ favs.name }}
        </ion-card-header>
        <ion-card-content>
            <!--Disposition grille pour bien aligner les boutons et l'image-->
            <ion-grid>
                <ion-row class="ion-align-items-center">
                    <ion-col>
                        <ion-card class="carte_image_etab">
                            <ion-img class="image_etab" [src]="favs.img"></ion-img>
                        </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-row>
                            <ion-col>
                                <ion-button color="red" (click)='rename($event, favs)'>Renommer</ion-button>
                            </ion-col>
                            <ion-col class="boutons_fav">
                            </ion-col>
                            <ion-col>
                                <ion-button color="red" (click)='delete($event, favs)'>Supprimer</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>


    </ion-card>

</ion-content>
<!--Affichage user non connecté-->
<ion-content *ngIf="user === null">
    <app-redirection-client></app-redirection-client>
</ion-content>