ion-toolbar {
  --ion-background-color: #000000;
}

ion-content {
  --ion-background-color: #000000;
}

.boutons_fav {
  height: 30px;
}

.larger {
  color: var(--ion-color-red);
  font-size: 100px;
}

.big-avatar {
  font-size: 50vw;
  height: 30vh;
}

.noFav {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}