<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Creation</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-title color="light">Création d'un compte serveur</ion-card-title>
        <form (ngSubmit)="onSubmit()">
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label>Nom du serveur</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-input required type="text" [value]="name" name="name" (input)="getName($event) "></ion-input>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-text>Mot de passe</ion-text>
                        <ion-text>(laisser vide pour générer un mot de passe)</ion-text>
                    </ion-row>
                    <ion-row>
                        <ion-input required type="text" [value]="password" name="password" (input)="getPassword($event) "></ion-input>
                    </ion-row>
                </ion-grid>
            </ion-item>

<!--            <ion-item>-->
<!--                <ion-grid>-->
<!--                    <ion-row>-->
<!--                        <ion-label>Nouveau mot de passe</ion-label>-->
<!--                    </ion-row>-->
<!--                    <ion-row>-->
<!--                        <ion-input required type="password" [value]="newPw" name="newPw" (input)="getNewPw($event)" ></ion-input>-->
<!--                    </ion-row>-->
<!--                </ion-grid>-->
<!--            </ion-item>-->

<!--            <ion-item>-->
<!--                <ion-grid>-->
<!--                    <ion-row>-->
<!--                        <ion-label>Répéter le nouveau mot de passe</ion-label>-->
<!--                    </ion-row>-->
<!--                    <ion-row>-->
<!--                        <ion-input required type="password" [value]="pwRepeat" name="pwRepeat" (input)="getPwRepeat($event)"></ion-input>-->
<!--                    </ion-row>-->
<!--                </ion-grid>-->
<!--            </ion-item>-->
        </form>

        <ion-item>
            <ion-button (click)="onSubmit()" color="red" shape="round" size="default" id="submit-btn" expand="block">Valider</ion-button>
        </ion-item>
    </ion-card>
</ion-content>