<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mes horaires d'ouverture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title color="light">Modifier mes horaires </ion-card-title>
    <form (ngSubmit)="onSubmit()">
      <ion-item *ngFor="let jour of jours">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-no-padding" size="8">
              <ion-label color="red">{{jour.nom}}</ion-label                                                   >
            </ion-col>
            <ion-label color="red"> Fermé </ion-label>
            <ion-list>
              <ion-item>
                <ion-checkbox  mode="md" [(ngModel)]="jour.ferme" color="light" [ngModelOptions]="{standalone:true}"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-row>
          <ng-container *ngIf="jour.ferme==false">
            <ion-row class="ion-align-items-center">
            <ion-label color="red"> Demi-journées </ion-label>
            <ion-list class="demi">
              <ion-item>
                <ion-checkbox mode="md" [(ngModel)]="jour.demi" color="light" [ngModelOptions]="{standalone:true}"></ion-checkbox>
              </ion-item>
            </ion-list>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-datetime [doneText]="oktext" [cancelText]="canceltext"displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="jour.ouverture" [ngModelOptions]="{standalone: true}"></ion-datetime>
              <ion-text>-</ion-text>
              <ion-datetime [doneText]="oktext" [cancelText]="canceltext"displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="jour.fermeture" [ngModelOptions]="{standalone: true}"></ion-datetime>
            </ion-row>
            <ng-container *ngIf="jour.demi==true">
              <ion-row class="ion-align-items-center">
                <ion-datetime [doneText]="oktext" [cancelText]="canceltext"displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="jour.ouverture_soir" [ngModelOptions]="{standalone: true}"></ion-datetime>
                <ion-text>-</ion-text>
                <ion-datetime [doneText]="oktext" [cancelText]="canceltext"displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="jour.fermeture_soir" [ngModelOptions]="{standalone: true}"></ion-datetime>
              </ion-row>
            </ng-container>
          </ng-container>

        </ion-grid>
      </ion-item>
    </form>

    <ion-item>
      <ion-button (click)="onSubmit()" color="red" shape="round" size="default" id="submit-btn" expand="block">Valider</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
