ion-title {
  text-align: center;
}

ion-content {
  --ion-background-color: #000000 !important;
}

ion-item {
  color: var(--ion-color-light);
  --background: var(--ion-color-dark);
  --border-color: transparent;
}

ion-label {
  color: var(--ion-color-light);

}

ion-card {
  margin-top: 1vh;
  margin-bottom: 1vh;
  --ion-background-color: var(--ion-color-dark);
  border-radius: 4px !important;
}

ion-card ion-item {
  margin-bottom: 1.5vh !important;
  margin-right: 1vh;
  margin-left: 1vh;
}

ion-list ion-item {
}

ion-card ion-card-title {
  margin: 1.5vh !important;
  --font-size: medium !important;
  font-size: medium !important;
  width: auto;
}

ion-card ion-label {
  margin-right: 1vh;
  color: #dedede !important;
  width: 100%;
}

ion-list {
  min-height: 6vh;
}

#list-per {
}

.buttons {
  margin-right: 1vh;
  margin-left: 1vh;
}

.buttons ion-button {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

ion-card ion-item ion-button {

}

#clic-info {
  color: #727272;
}

#pers-name {
  font-size: x-large;
  //font-weight: bold;
  text-align: center;
}

ion-list-header {
  background-color: #222222;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#title-list {
  font-size: x-large;
}

#list-sub {
  color: #8a8a8a;
  font-size: medium;
}

#how-access {
  justify-content: center;
}

#how-access-btn {
  width: 95%;
  font-size: x-small;
}

ion-item ion-row {
  width: 100%;
}

#how-access ion-row ion-col{
  width: 100%;
}