<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Gestion Personnel</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="buttons">
        <ion-button color="red" expand="block" shape="round" (click)="createPer()">
            Ajouter un serveur
        </ion-button>

    </div>

    <div id="list-per">
        <ion-list-header color="dark">
            <ion-label id="title-list">Liste du personnel <br>
                <ion-label id="list-sub">Cliquer sur un membre pour voir et modifier ses informations.</ion-label>
            </ion-label>
        </ion-list-header>
        <ion-list>
            <ion-item *ngFor="let pers of personnels; let i = index;" (click)="openPers(pers.id_per)" [color]="(i % 2 == 0) ? 'lessdark' : 'dark'">
                <ion-label>
                    <ion-row>
                        <ion-col>
                            <ion-label id="pers-name">{{pers.alias}}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <div>
        <ion-item id="how-access">
            <ion-row>
                <ion-col>
                    <ion-button color="red" id="how-access-btn" (click)="howAccessPers()" expand="block">
                        Comment accéder à un compte serveur ?
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-item>
    </div>

</ion-content>
