<ion-content>
  <ion-card style="padding-top: 0;" *ngFor="let item of items" id="search-block">
    <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-item (click)="changePosition()">
            <ion-icon color="light" name="location-outline" class="icon-loc"></ion-icon>
            <ion-text class="localisation" color="light">{{localisation}}</ion-text>
          </ion-item>
          <!-- Afficher plus de détail / Moins de détails en fonction de si la carte est étendue ou non -->
          <ion-buttons>
            <ion-button (click)="expandItem(item)">
              <ion-icon slot="icon-only" name="options-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-row>
      <!-- Un accordéon, pour afficher la partie "Plus de détails" -->
      <app-accordeon expandHeight="200px" [expanded]="item.expanded">
        <!-- Création d'une searchbar pour récuperer les inputs de l'utilisateur pour faire une recherche approfondie -->
        <ion-searchbar
                debounce="500"
                clear-icon
                color="light"
                [(ngModel)]="research.search"
                (ionChange)="onInput($event)"
                placeholder="Rechercher par nom">
        </ion-searchbar>
        <ion-row class="ion-align-items-center">
          <ion-item class="type">
            <ion-label color="light">Type d'établissement</ion-label>
            <ion-select [okText]="oktext" [cancelText]="canceltext" interface="popover" (ngModelChange)="refresh_criteres($event,'type')" [(ngModel)]="type">
              <ion-select-option *ngFor="let choix of choices_criteres">{{choix}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="tri">
            <ion-label color="light">Trier par</ion-label>
            <ion-select [okText]="oktext" [cancelText]="canceltext" interface="popover" (ngModelChange)="refresh_criteres($event,'tri')" [(ngModel)]="research.tri">
              <ion-select-option *ngFor="let choix of choices">{{choix}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-item>
          <ion-range class="range" debounce="500" min="1" max="8" pin step="1" snaps color="red" [(ngModel)]="rayon" (ionChange)="refresh_criteres($event,'rayon')">
            <ion-icon class="white-icon" size="small" slot="start" name="navigate-outline"></ion-icon>
            <ion-icon class="white-icon" slot="end" name="navigate-outline"></ion-icon>
          </ion-range>
        </ion-item>
      </app-accordeon>
    </ion-card-content>
  </ion-card>

  <!-- PARTIE CORRESPONDANTE AUX RESULTATS -->

  <div *ngIf="(!noresult && !afficher && localisation!='Sélectionner une position') || chargement_adresse" class="ion-text-center">
    <ion-spinner color="light"></ion-spinner>
  </div>

  <ion-row *ngIf="noresult && localisation!='Sélectionner une position'" class="noresult"> <ion-text color="light">Aucun résultat, mais pas d'inquiétude, So FAR arrive bientôt près de chez toi !  </ion-text></ion-row>
  <div *ngIf="afficher">
    <!-- Création d'une card pour chaque établissement -->
    <ion-card *ngFor="let cards of item" button="true" (click)="clickCards(cards)" color="dark">
      <ion-row [id]="cards.id+'resultat'" class="ion-align-items-center">

        <ion-card [ngClass]="[cards.ouvert ? 'carte_image_etab' : 'carte_image_etab_ferme']" class="carte_image_etab">
          <ion-img class="image_etab" [src]="cards.img"></ion-img>
        </ion-card>

        <ion-col>
          <ion-text [ngClass]="[cards.ouvert ? 'bar_ouvert' : 'bar_ferme']" color="red">{{ cards.name }} <br> <br></ion-text>
          <div class="ion-text-capitalize">
            <ion-text [ngClass]="[cards.ouvert ? 'bar_ouvert' : 'bar_ferme']">{{cards.categorie}} <br></ion-text>
          </div>
          <ion-text [ngClass]="[cards.ouvert ? 'bar_ouvert' : 'bar_ferme']">{{cards.horaires}} <br> <br> <br></ion-text>
          <div [id]="cards.id" class="ion-align-items-center">
            <ion-text [ngClass]="[cards.ouvert ? 'bar_ouvert' : 'bar_ferme']">
              <ion-icon name="navigate"></ion-icon>
              {{cards.distance}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="notes">
        <ion-text [ngClass]="[cards.ouvert ? 'bar_ouvert' : 'bar_ferme']" color="light" *ngIf="cards.note==null"> Cet établissement n'a pas encore de note !</ion-text>
        <rating *ngIf="cards.note!=null" class="detail" size='small' [(ngModel)]="cards.note" readonly="true"></rating>
      </ion-row>
    </ion-card>

  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="desactive">
    <ion-infinite-scroll-content  class="spinner"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
