
ion-item{
    --ion-background-color: transparent!important;
     margin: 0em;
    --border-color: transparent!important;
    --padding-start: 0 !important;
    --inner-pading-end: 0 !important;
}

ion-item p{
  color: lighten($color: #a19595, $amount: 0);
  font-size: large;
  font-weight: bold;
  margin-left: 30%;
}

ion-select{
  --padding-start: 0 !important;
}

ion-select::part(text) {
    color: #ffffff;
}

ion-select::part(icon) {
    color: #ffffff;
    opacity: 1;
}

ion-content {
  --ion-background-color: #0a0a0a ;
}
ion-header{
  --ion-background-color: #000000 ;
}
ion-toolbar{
  --ion-background-color: #000000;
}
.padding{
  padding-top: 0%;
}

.logo{
  height: 100px;
  position:relative;

}
.logo ion-img{
  position: absolute;
  font-size: 5em;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#search-block {
  --background: #111111 !important;
}

.white-icon{
  color: white;
}

.icon-loc{
  padding-right: 10px;
}

ion-buttons{
  color:white !important;
}

.localisation{
  width: 67vw;
}

//PARTIE CORRESPONDANTE A RESULTAT RECHERCHE :

.card {
  background-color: #000; // black
  box-shadow: none;
}

ion-card-content{
  padding:0 !important;
}
.image_etab_scroll{
  height: 100%;
}
.top {
  vertical-align: top;
}

ion-content {
  --ion-background-color: #0a0a0a ;
}

.type{
  --padding-start: 5px !important;
  width: 64%;
  --ion-background-color:#111111 !important;
}

.tri{
  width: 36%;
  --ion-background-color:#111111 !important;
}

ion-select::part(text) {
  display: none !important;
}

.loading-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}

.carte_image_etab_ferme{
  max-height: 18.75vh;
  max-width: 33.34vw;
  opacity:0.5;
}

.bar_ferme{
  opacity: 0.5;
}

.noresult{
  padding-left: 30px;
  padding-top: 30px;
  text-align: center;
  margin-right: 2vh;
}

.notes{
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 15px;
}

.spinner{
  --color:white !important;
}

ion-searchbar{
  padding-right:5px;
  padding-left: 5px;
}

ion-range::part(pin) {
  color:white;
  --ion-color-base: transparent !important;
  &:after {
    content: " km";
  }
}
