*, p{
  color: white;
}
#date, .appt-time, option,button, .form-control{
  color: black;
}
#btn{
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
  font-family: Enjoy;
  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 30px;
  cursor: pointer;
  display: block;
  justify-self: center;
  margin: auto;
}

#btn1{
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
  font-family: Enjoy;
  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 30px;
  cursor: pointer;
  display: block;
  justify-self: center;
  margin: auto;
}

.title{
  text-align: center;
  font-family: Dscript;
  font-size: 90px;
  letter-spacing: 3px;
  margin-top: 50px;
  color: white;
  text-decoration: none;
}

li{
  list-style: none;
}

.eltList{
  color: white;
  justify-content: center;
  border: 1px solid darkred;
  border-radius: 3px;
  margin-bottom: 3%;
  margin-left: 20px;
  margin-right: 30px;
  letter-spacing: 1px;
  background-color: black;
  padding-left: 30px;
  padding-right: 20px;

}

.horaires{
  padding-left: 30px;
  padding-right: 20px;
}

#date, .appt-time, option,button, .form-control{
  color: black;
}

.title{
  text-align: center;
  font-family: Dscript;
  font-size: 90px;
  letter-spacing: 3px;
  margin-top: 50px;
  color: white;
}


form {
  padding-top: 5%;
  padding-bottom: 10%;
  margin-left:20%;


}


.FormInput{
  background-color: black;
  border: 1px solid darkred ;
  border-radius: 5px;
  width: 80%;
  height:40px;
  color: white;
  font-size: 18px;
}

textarea{
  background-color: black;
  border: 1px solid darkred ;
  border-radius: 5px;
  width: 80%;
  color: white;
  font-size: 18px;
}
#textareaForm{
  height: 120px;
}

#inputDesc{
  height: 200px;
}
.blocForm{
  padding-top: 20px;

}

h5{
  margin-right: 10%;
  font-family: Enjoy;
  font-size: xx-large;
  letter-spacing: 2px;
  font-weight: normal;
  margin-bottom: 30px;
  color: white;

}

select{
  border: 1px solid darkred ;
  border-radius: 5px;
  width: 20%;
  height: 30px;
  overflow: hidden;
}

option{
  background-color: transparent;
  font-family: "Apple Color Emoji";
  background-color: darkred;
  font-size: 18px;
  color: white;
}

#dateInput{
  border: 1px solid darkred ;
  border-radius: 5px;
  width: 20%;
  height: 30px;
  color: black ;
  font-family: "Apple Color Emoji";
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
}

.radioInput{
  color: white;
  margin-right: 10px;

}

.blocRadio{
  margin-bottom: 15px;
  padding-left: 18px;

}

label{
  color: white;
}

.blocHoraire{
  padding-left: 30px;
  padding-bottom: 10px;
}

.labelHoraire{
  margin-right: 20px;
  font-size: 18px;
}

.timeBloc{
  border: 1px solid darkred ;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 18px;
}

.buttonForm{

  border: 2px solid darkred;
  border-radius: 5px;
  width: 20%;
  height: 50px;
  text-align: center;
  font-size: 18px;
  display: block;
  justify-self: center;
  margin: auto;
}

.submitLabel{
  color: black;
  font-family: Enjoy;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 30px;

}

.blocSubmit{
  margin-bottom: 100px;
  margin-top: 0px;
}

.jour{
  color: white;
}

.demi{
  color: black;
}
