<h3 class="title"> Détails </h3>
<ul class="blocList">

  <li class="eltList" *ngFor= "let item of proDetails "  >

      <div class="eltContenu" >
        <br/> <br>

        <label> <strong> NOM : </strong>    <input class="FormInput"  [(ngModel)]="item.nom_pro"> </label>

        <br/><br>

       <label> <strong> ADRESSE : </strong>    <input class="FormInput"  [(ngModel)]="item.adresse"> </label>

        <br/><br>

        <label> <strong> EMAIL: </strong>   <input class="FormInput"  [(ngModel)]="item.email_pro"> </label>

        <br/> <br>

        <label> <strong>SIRET: </strong>   <input class="FormInput"  [(ngModel)]="item.siret"> </label>

        <br/> <br>

        <label> <strong> DESCRIPTION:</strong>  </label>
        <input class="FormInput"  [(ngModel)]="item.description_pro">

        <div class="col blockForm">
          <h5 class="labelForm">Terrasse </h5>
          <div class="blocRadio">
            <input class="radioInput" type="radio" [checked]="terrasse" name="terasse" (click)="item.terasse = 1"> <label>OUI</label>
          </div>

          <div class="blocRadio">
            <input class="radioInput" type="radio" [checked]="!terrasse" name="terasse" (click)="item.terasse = 0" > <label>NON</label>
          </div>
        </div>
        <!--------------------------------------------------------------------------------------->
        <div class="col blockForm">
          <div class="blocRadio">
            <input class="radioInput" type="radio" [checked]="commander_dispo" name="commander_dispo" (click)="item.commander_dispo = 1"> <label>OUI</label>
          </div>

          <div class="blocRadio">
            <input class="radioInput" type="radio" [checked]="!commander_dispo" name="commander_dispo" (click)="item.commander_dispo = 0" > <label>NON</label>
          </div>
        </div>
        <!--------------------------------------------------------------------------------------->

        <div class="col blockForm">
          <h5 class="labelForm">Type de service </h5>
          <div class="blocRadio">
            <input class="radioInput" type="radio"  [checked]="comptoir" name="service" (click)="item.service = 'comptoir';" > <label>Retrait au comptoir</label>
          </div>

          <div class="blocRadio">
            <input class="radioInput" type="radio" [checked]="table" name="service" (click)="item.service = 'table';" > <label>Service à table</label>
          </div>

          <div class="blocRadio">
            <input class="radioInput" type="radio" [checked]="tout" name="service" (click)="item.service = 'tout';" > <label>Les deux</label>
          </div>

        </div>

        <br/><br>

        <label> <strong> CATEGORIE : </strong>  </label>  <select class="form-control" [(ngModel)]="item.categorie_pro"  name="cat">
        <option value="bar">Bar</option>
        <option value="restaurant">Restaurant</option>
        <option value="boite de nuit">Boîte de nuit </option>
      </select>

        <br/><br>

        <h4>Horaires d'ouverture</h4>
        <div class="horaires">


        <label> <strong> LUNDI : </strong>
          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.lundiouverturematin">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.lundifermeturematin"><br>
          <ng-container  *ngIf="item.lundisoir!=undefined">
            <label> <strong  class="demi">   LUNDI : </strong> </label>
            <label class="labelHoraire" >
              Ouvre à :
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.lundiouverturesoir">
            <label class="labelHoraire">
              Ferme à
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.lundifermeturesoir"><br>
          </ng-container>
        </label>

          <br/><br>

        <label> <strong> MARDI : </strong>

          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.mardiouverturematin">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.mardifermeturematin"><br>
          <ng-container  *ngIf="item.mardisoir!=undefined">
            <label> <strong  class="demi">   MARDI : </strong> </label>
            <label class="labelHoraire" >
              Ouvre à :
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.mardiouverturesoir">
            <label class="labelHoraire">
              Ferme à
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.mardifermeturesoir"><br>
          </ng-container>
        </label>

          <br/><br>

        <label> <strong> MERCREDI : </strong>

          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.mercrediouverturematin">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.mercredifermeturematin"><br>
          <ng-container  *ngIf="item.mercredisoir!=undefined">
            <label> <strong  class="demi">   MERCREDI : </strong> </label>
            <label class="labelHoraire" >
              Ouvre à :
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.mercrediouverturesoir">
            <label class="labelHoraire">
              Ferme à
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.mercredifermeturesoir"><br>
          </ng-container>
        </label>

          <br/><br>

        <label> <strong> JEUDI : </strong>

          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.jeudiouverturematin">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.jeudifermeturematin"><br>
          <ng-container  *ngIf="item.jeudisoir!=undefined">
            <label> <strong  class="demi">   JEUDI : </strong> </label>
            <label class="labelHoraire" >
              Ouvre à :
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.jeudiouverturesoir">
            <label class="labelHoraire">
              Ferme à
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.jeudifermeturesoir"><br>
          </ng-container>
        </label>

          <br/><br>

        <label> <strong> VENDREDI : </strong>

          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.vendrediouverturematin">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.vendredifermeturematin"><br>
          <ng-container  *ngIf="item.vendredisoir!=undefined">
            <label> <strong  class="demi">   VENDREDI : </strong> </label>
            <label class="labelHoraire" >
              Ouvre à :
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.vendrediouverturesoir">
            <label class="labelHoraire">
              Ferme à
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.vendredifermeturesoir"><br>
          </ng-container>
        </label>

          <br/><br>

        <label> <strong> SAMEDI : </strong>

          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.samediouverturematin">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.samedifermeturematin"><br>
          <ng-container  *ngIf="item.samedisoir!=undefined">
            <label> <strong  class="demi">   SAMEDI : </strong> </label>
            <label class="labelHoraire" >
              Ouvre à :
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.samediouverturesoir">
            <label class="labelHoraire">
              Ferme à
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.samedifermeturesoir"><br>
          </ng-container>

        </label>

          <br/><br>

        <label> <strong> DIMANCHE : </strong>

          <label class="labelHoraire" >
            Ouvre à :
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.dimancheouverturematin">
          <label class="labelHoraire">
            Ferme à
          </label>
          <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.dimanchefermeturematin"><br>
          <ng-container  *ngIf="item.dimanchesoir!=undefined">
            <label> <strong  class="demi">   DIMANCHE : </strong> </label>
            <label class="labelHoraire" >
              Ouvre à :
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesOuvert" [(ngModel)]="item.dimancheouverturesoir">
            <label class="labelHoraire">
              Ferme à
            </label>
            <input class="appt-time timeBloc" type="time" name="horairesFerme" [(ngModel)]="item.dimanchefermeturesoir"><br>
          </ng-container>

        </label>

          <br/><br>
        </div>


        <label> <strong>DATE D'INSCRIPTION: </strong>   {{item.date_inscr}} </label>

        <br/> <br>
      </div>

  </li>

</ul> <div>

  <button id="btn1" (click)="modifierPro123()">Modifier</button> <button id="btn" (click)="deletePro123()">Supprimer</button>

</div>


