<ion-content>
    <ion-tabs>
        <ion-tab-bar color="dark" slot="bottom">
            <ion-tab-button tab=recherche>
                <ion-icon name="search-outline"></ion-icon>
                <ion-label>Recherche</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="favoris">
                <ion-icon name="heart-outline"></ion-icon>
                <ion-label>Favoris</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="commande-client">
                <ion-icon name="beer-outline"></ion-icon>
                <ion-label>Service</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="profil">
                <ion-icon name="person-outline"></ion-icon>
                <ion-label>Profil</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
