<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)='pop()' color="light">
                <ion-icon color="light" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Map</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="ouvrir_maps()">
                <ion-icon slot="icon-only" name="navigate-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="ol-map" class="map-container" color="dark">
        <div id="popup" class="ol-popup">
            <div class="ol-popup-content"id="popup-content"></div>
        </div>
    </div>
</ion-content>
