.subtitle{
    color : "danger";
}

.texte_boutons{
    margin-right: auto;
}

.icones{
    text-align: right;
}

.bouton_detail {
    width: 51vw;
    height: 5.5vh;
}

.bouton_favoris {
    width: 91.67vw;
    height: 5.5vh;
}

.margin_texte{
    margin-right: 4vw;
    margin-left: 4vw;
    align-items: center;
}


.acc{
    margin-right: 4vw;
    margin-left: 3vw;
    align-items: center;
}

.limitTextHeight {
    text-align:justify;
    height: 16vh;
    overflow: hidden;
    margin-right: 4vw;
    margin-left: 4vw;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.nolimitTextHeight {
    text-align:justify;
    margin-right: 4vw;
    margin-left: 4vw;
    padding-bottom: 10px;
}

.bouton_plus {
    height: 3vh;
    width: 50vw;
}

ion-content {
    --ion-background-color: #0a0a0a ;
}

p {
    color: lighten($color: #F2F2F2, $amount: 0) !important;
}

.accordeon{
    padding:0 !important;
    width: 100% !important;
}

rating {
    padding-left: 10px;
}

.detail {
    padding-left: 0;
}

.criteres{
    padding-left: 10px;
}

.nonotes {
    padding-left: 15px;
}

.lignecom{
    padding-left: 12px;
}

.spinner{
    --color:white !important;
}
