<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)='pop()' color="light">
                <ion-icon color="light" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{item.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!--la grille contenant les informations princpales sur l'établissement-->
    <ion-grid color="dark">
        <ion-row class="ion-align-items-center">
            <ion-col size="5">
            <ion-card class="carte_image_etab">
<!--                <ion-img class="image_etab" src="../../assets/images/images_pro/{{item.id}}.jpg"></ion-img>-->
                <ion-img class="image_etab" [src]="item.img"></ion-img>
            </ion-card>
            </ion-col>
            <ion-col size="7">
                <ion-button *ngIf="this.userService.getUserValue()!=undefined && this.userService.getUserValue()!=null" color="red" class="bouton_detail" (click)='go_to_reserve()'>
                    <div class="texte_boutons"> Réserver !</div>
                    <ion-icon name="calendar"></ion-icon>
                </ion-button>
                <ion-button *ngIf="this.userService.getUserValue()!=undefined && this.userService.getUserValue()!=null && this.userService.getUserValue() && !item['ferme'] && commanderDispo"  color="red" class="bouton_detail" (click)='go_to_command()'>
                    <div class="texte_boutons"> Commander !</div>
                    <ion-icon class="icones" name="wine"></ion-icon>
                    <!--  TODO: selon si c'est un resto ou un bar changer l'icone : faire un pipe perso -->
                </ion-button>
                <ion-button color="red" class="bouton_detail" (click)='go_to_map(item)'>
                    <div class="texte_boutons"> M'y amener !</div>
                    <ion-icon name="map-outline"></ion-icon>
                </ion-button>
            </ion-col>

        </ion-row>

        <ion-row>
            <br>
        </ion-row>

        <ion-row class="margin_texte">
            <p>
                <ion-text color="red">
                    Adresse :
                </ion-text>
                {{item.adresse}} <br>
            </p>
        </ion-row>

        <ion-row class="margin_texte">
            <p class="ion-text-capitalize">
                <ion-text color="red">
                    Catégorie :
                </ion-text>
                {{item.categorie}} <br>
            </p>
        </ion-row>

        <ion-row class="acc">
            <ion-col>
                <p>
                    <ion-text color="red">
                        Horaires :
                    </ion-text>
                    {{item.horaires}}<br>
                </p>
            </ion-col>
            <ng-container *ngFor="let item of items">
                    <ion-card-content color="dark">
                        <ion-label>
                                <ion-text *ngIf="item.expanded==false;" color="medium"  (click)="expandItem(item, items)">
                                    Voir plus
                                </ion-text>
                                <ion-text *ngIf="item.expanded==true;" color="medium"  (click)="expandItem(item, items)">
                                    Voir moins
                                </ion-text>
                        </ion-label>
                    </ion-card-content>
                <app-accordeon class="accordeon" expandHeight="100%" [expanded]="item.expanded">
                    <ng-container *ngFor="let horaire of horaires; let indexOfelement=index;">
                        <ion-row>
                            <ion-col>
                                <ion-label color="red">
                                    {{jours[indexOfelement]}} :
                                </ion-label>
                            </ion-col>
                            <ion-col size="7">
                                <ion-label color="light">
                                    {{horaire}}
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </ng-container>
                </app-accordeon>
            </ng-container>
        </ion-row>

        <!-- TODO: gérer les happy hours
        <ion-row>
          <ion-text color="red
         ">
            Propose des Happy Hour <br>
          </ion-text>

        </ion-row> -->

        <ng-container *ngIf="aucune_note==false; else elseBlock">
            <ion-row>
                <rating [(ngModel)]="note_generale" readonly="true"></rating>
                <ng-container *ngFor="let item of items1">
                    <ion-card-content color="dark">
                        <ion-label>
                            <ion-text *ngIf="item.expanded==false;" color="medium"  (click)="expandItem(item, items1)">
                                Voir plus
                            </ion-text>
                            <ion-text *ngIf="item.expanded==true;" color="medium"  (click)="expandItem(item, items1)">
                                Voir moins
                            </ion-text>
                        </ion-label>
                    </ion-card-content>
                    <app-accordeon class="accordeon" expandHeight="100%" [expanded]="item.expanded">
                        <ng-container *ngFor="let critere of criteres;">
                            <ion-row class="ion-align-items-center">
                                <ion-col size="6">
                                    <ion-label class="criteres" color="red">
                                        {{critere.nom}} :
                                    </ion-label>
                                </ion-col>
                                <ion-col size="4">
                                    <rating class="detail" size='large' [(ngModel)]="critere.note" readonly="true"></rating>
                                </ion-col>
                            </ion-row>
                        </ng-container>
                    </app-accordeon>
                </ng-container>
            </ion-row>
        </ng-container>

        <ng-template  #elseBlock>
            <ion-row>
                <ion-label class="nonotes" color="light">
                    Cet établissement n'a pas encore de notes!
                </ion-label>
            </ion-row>
        </ng-template>

        <ion-row class="limitTextHeight">
            <p>
                <ion-text color="red"> Description :</ion-text>
                {{item.description}}
            </p>
        </ion-row>

    </ion-grid>

    <ng-container *ngIf="this.userService.getUserValue()!=undefined && this.userService.getUserValue()!=null">
        <!--BOUTON FAVORIS -->
        <ion-row *ngIf="item.fav>=0" class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
                <div *ngIf="item.fav==0 then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <ion-button color="red" class="bouton_favoris" (click)='add_to_fav(item)'>
                        <div class="texte_boutons">Ajouter aux favoris !</div>
                        <ion-icon name="heart"></ion-icon>
                    </ion-button>
                </ng-template>
                <ng-template #elseBlock>
                    <ion-button color="red" class="bouton_favoris" (click)='remove_fav(item)'>
                        <div class="texte_boutons">Retirer des favoris </div>
                        <ion-icon name="heart"></ion-icon>
                    </ion-button>
                </ng-template>
            </ion-col>
        </ion-row>
        <!--BOUTON NOTES -->
        <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
                    <ion-button color="red" class="bouton_favoris" (click)='go_to_notes()'>
                        <div class="texte_boutons">Noter l'établissement !</div>
                        <ion-icon name="star-outline"></ion-icon>
                    </ion-button>
            </ion-col>
        </ion-row>

    </ng-container>

    <ion-row class="margin_texte">
        <p>
            <ion-text color="red">
                Commentaires :
            </ion-text>
            <ion-text color="light" *ngIf="commentaires.length == 0">Cet établissement n'a pas encore de commentaires </ion-text><br>
        </p>
    </ion-row>

    <ion-card *ngFor="let com of commentaires" color="dark">
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-text class="lignecom" color="red">
                    {{com.nom}}
                </ion-text>
            </ion-col>
            <ion-col>
                <rating class="detail" size='large' [(ngModel)]="com.note" readonly="true"></rating>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="com.commentaire.length>250; else elseBlock1" class="limitTextHeight"> <!-- Si le commentaire est trop long on scroll-->
            <ion-text color="light">
                {{com.commentaire}}
            </ion-text>
        </ion-row>
        <ng-template #elseBlock1>
            <ion-row class="nolimitTextHeight">
                <ion-text color="light">
                    {{com.commentaire}}
                </ion-text>
            </ion-row>
        </ng-template>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="desactive">
        <ion-infinite-scroll-content  class="spinner"></ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>  
