<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Noter {{nom_bar}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <form (ngSubmit)="onSubmit_notes()">

        <ion-grid>
          <ion-row *ngFor="let item of criteres" class="ion-align-items-center">
              <ion-col  class="ion-no-padding" size="5">
                <ion-label color="red">{{item.nom}}</ion-label>
              </ion-col>
              <ion-col class="ion-no-padding" size="5">
                  <rating [(ngModel)]="item.note" [ngModelOptions]="{standalone: true}"></rating>
              </ion-col>
          </ion-row>
            <ion-row>
                <ion-col  class="ion-no-padding" size="5">
                    <ion-label color="red">Commentaire </ion-label>
                </ion-col>
            </ion-row>
                <ion-textarea rows="4" maxLength="1000"
                              [(ngModel)]="commentaire"
                              [ngModelOptions]="{standalone: true}"
                              placeholder="Écrire un commentaire (facultatif)"></ion-textarea>
            <ion-row>
                <ion-label> {{commentaire.length}} / 1000</ion-label>
            </ion-row>


        </ion-grid>
    </form>

    <ion-item>
      <ion-button (click)="onSubmit_notes()" color="red" shape="round" size="default" id="submit-btn-heures" expand="block">Valider</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
