*{
  color: white;
}

#btn{
  color: black;
}

.eltContenu{
  margin-left: 5%;
  color: white;
  padding: 20px;
}

.eltList{
  color: white;
  justify-content: center;
  border: 1px solid darkred;
  border-radius: 3px;
  margin-bottom: 3%;
  letter-spacing: 1px;
  background-color: black;

}

.blocList{
  line-height: normal;
  list-style: none;
}

h3{
  font-weight: lighter;
  text-decoration: underline ;
}

.title{
  text-align: center;
  font-family: Dscript;
  font-size: 90px;
  letter-spacing: 3px;
  margin-top: 50px;
  color: white;
  text-decoration: none;
}


#btn{
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
  font-family: Enjoy;
  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 30px;
  cursor: pointer;
}

h2{
  margin-right: 10%;
  font-family: Enjoy;
  font-size: xx-large;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;

}

label{
  font-family: chopinScript;
  font-weight: lighter;
}
