<h3 class="title">Liste des Commentaires</h3>
<nav>
  <ul class="blocList">

    <li #idComment class="eltList" *ngFor= "let item of dataNotes " [attr.data-id]="item.idnotes" >

        <div class="eltContenu" >
         <p>{{ item.commentaire }} </p>
          <button id="btn" (click)="DeleteCommentaire(idComment)" >Supprimer Ce commentaire</button>
          <br/><br> <br><br>

        </div>

    </li>

  </ul>
</nav>
