<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="services">
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>Services</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mon-compte-personnel">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Compte</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
