<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Créneaux bloqués</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title color="light">Ajouter un créneau à bloquer </ion-card-title>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col  class="ion-no-padding" size="2">
              <ion-label color="red">Date : </ion-label>
            </ion-col>
            <ion-col class="ion-no-padding" size="4">
              <ion-input [readonly]="true" class="li-dp-input" placeholder="Selectionner" [(ngModel)]="date" (click)="openDatePicker()" [ngModelOptions]="{standalone:true}" ></ion-input>
            </ion-col>
            <ion-label color="red"> Journée entière </ion-label>
            <ion-list>
              <ion-checkbox mode="md" [(ngModel)]="journee_entiere" color="light" [ngModelOptions]="{standalone:true}"></ion-checkbox>
            </ion-list>
          </ion-row>
          <ion-row *ngIf="journee_entiere==false" class="ion-align-items-center">
            <ion-label color="red">Heure : </ion-label>
            <ion-datetime [doneText]="oktext" [cancelText]="canceltext"[(ngModel)]="min_heure" class="li-dp-input" displayFormat="HH:00" pickerFormat="HH" [ngModelOptions]="{standalone:true}"></ion-datetime>
            <ion-text>-</ion-text>
            <ion-datetime [doneText]="oktext" [cancelText]="canceltext"[(ngModel)]="max_heure" class="li-dp-input" displayFormat="HH:00" pickerFormat="HH" [ngModelOptions]="{standalone:true}"></ion-datetime>
          </ion-row>
        </ion-grid>
      </ion-item>
    </form>

    <ion-item>
      <ion-button (click)="onSubmit()" color="red" shape="round" size="default" id="submit-btn" expand="block">Valider</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-title color="light">Mes créneaux bloqués </ion-card-title>
    <ion-item>
      <ion-col size="4">
        <ion-label color="red">Date</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label color="red">Heure</ion-label>
      </ion-col>
    </ion-item>

      <ion-item *ngFor="let block of blocked">
          <ion-col size="4">
            <ion-label color="light">{{block[0]}}</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label color="light">{{block[1]}}</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-button color="red" (click)="delete_ex(block)"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-col>
      </ion-item>
  </ion-card>
</ion-content>
