.alertDanger{
    background-color: white;
    color: red;
    button{
        color: red;
    }
}

ion-content {
  
    --ion-background-color: #000000 !important;
  
  }

@media(orientation: portrait) {
    ion-content {
        padding-top: constant(safe-area-inset-top); //ios 11.2
        padding-top: env(safe-area-inset-top); //ios 11.1
    }
}


