ion-item ion-label {
  //color: var(--ion-color-step-950) !important;
  color: lighten($color: #F2F2F2, $amount: 0) !important;
}

ion-input {
  //color: var(--ion-color-step-650) !important;
  color: lighten($color: #ACACAC, $amount: 0) !important;
  text-align: right;
}

ion-item {
  --ion-background-color: transparent !important;
  --background: transparent !important;
  //color: var(--ion-color-step-700) !important;
  //color: lighten($color: #F2F2F2, $amount: 0) !important;
  margin: 1% 1em 1% 1%;
}

ion-item p {
  color: lighten($color: #F2F2F2, $amount: 0) !important;
  font-size: large;
  font-weight: bold;
  text-align: center !important;
  width: 100%;
}

ion-content {
  --overflow: hidden;
  --ion-background-color: #0a0a0a !important;
}

.padding {
  padding-top: 2%;
}

.logo {
  margin: 3px;
}

.logo ion-img {
  height: auto;
  width: 15vh;
  text-align: center;
  margin: auto;
  display: flex;
}

.register-btn {
  border: none !important;
  //color: white;
  color: lighten($color: #f8f8f8, $amount: 0) !important;
  text-align: center;
  --border-radius: 64px !important;
  --border: none !important;
  margin-top: 5vh !important;
}

ion-datetime {
  width: 100%;
  text-align: right;
  color: var(--ion-color-light) !important;
}

ion-select {
  color: var(--ion-color-light);
  width: 100%;
  justify-content: center;
  text-align: center;
}

.loading-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}