<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/connexion-client"></ion-back-button>
        </ion-buttons>
        <ion-title>Inscription</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="padding">
        <div class="logo">
            <ion-img src="../assets/images/logo_dark.svg"></ion-img>
        </div>
        <ion-item>
            <p>Inscris-toi !</p>
        </ion-item>
        <div style="display: flex;">
            <ion-item slot="start">
                <ion-input required color="light" type="text"  placeholder="Nom"
                           [ngModel]="user.nom | titlecase" (ngModelChange)="user.nom=$event"></ion-input>
            </ion-item>
            <ion-item slot="start">
                <ion-input required color="light" type="text" placeholder="Prénom"
                           [ngModel]="user.prenom | titlecase" (ngModelChange)="user.prenom=$event"></ion-input>
            </ion-item>
        </div>
        <ion-item slot="start">
            <ion-label required color="medium">Genre</ion-label>
            <ion-select [okText]="oktext" [cancelText]="canceltext" type="text" [(ngModel)]="user.sexe">
                <ion-select-option value="femme">Femme</ion-select-option>
                <ion-select-option value="homme">Homme</ion-select-option>
                <ion-select-option value="autre">Autre</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item slot="start">
            <ion-datetime [doneText]="oktext" [cancelText]="canceltext" displayFormat="DD/MM/YYYY" [max]="adultDate"
                          pickerFormat="DD/MM/YYYY"
                          placeholder="Date de naissance" color="light"
                          [(ngModel)]="user.date_de_naissance"></ion-datetime>
        </ion-item>
        <ion-item slot="start">
            <ion-input required color="light" type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <ion-item slot="start">
            <ion-input required color="light" type="password" placeholder="Mot de passe"
                       [(ngModel)]="user.mdp"></ion-input>
        </ion-item>
        <ion-button color="red" expand="block" routerLink="/inscription-client" (click)="insert()" class="register-btn">
            Je crée mon compte
        </ion-button>
    </div>
</ion-content>
