<ion-header>
    <ion-toolbar color="dark">
        <ion-segment (ionChange)="segmentChanged($event)" value="reservations">
            <ion-segment-button value="reservations">
                <ion-label>Réservations</ion-label>
            </ion-segment-button>
            <ion-segment-button value="commandes">
                <ion-label>Commandes</ion-label>
            </ion-segment-button>
        </ion-segment>
        <ion-buttons slot="end" *ngIf="status === 'boss'">
            <ion-button (click)="openMenu()">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="seg==='reservations'">
        <app-reservations></app-reservations>
    </div>
    <div *ngIf="seg==='commandes'">
        <app-commandes></app-commandes>
    </div>
</ion-content>

