<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dates supplémentaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title color="light">Ajouter une date de reservation </ion-card-title>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col  class="ion-no-padding" size="2">
              <ion-label color="red">Date : </ion-label>
            </ion-col>
            <ion-col class="ion-no-padding" size="4">
              <ion-input [readonly]="true" class="li-dp-input" [(ngModel)]="date" (click)="openDatePicker()" [ngModelOptions]="{standalone:true}" ></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </form>

    <ion-item>
      <ion-button (click)="onSubmit()" color="red" shape="round" size="default" id="submit-btn" expand="block">Valider</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-title color="light">Mes dates supplémentaires </ion-card-title>
    <ion-item>
      <ion-col size="9">
        <ion-label color="red">Date</ion-label>
      </ion-col>
    </ion-item>

      <ion-item *ngFor="let block of blocked">
          <ion-col size="9">
            <ion-label color="light">{{block[0]}}</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-button color="red" (click)="delete_ex(block)"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-col>
      </ion-item>
  </ion-card>
</ion-content>
