<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Création - Catégorie</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-title color="light">Création d'une nouvelle catégorie</ion-card-title>
        <form (ngSubmit)="onSubmit()">
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label>Nom de la catégorie</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-input required type="text" [value]="categorieName" name="categorieName" (input)="getNewCatName($event)"></ion-input>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <ion-button (click)="onSubmit()" color="red" size="default" id="submit-btn" expand="block">Valider
                </ion-button>
            </ion-item>
        </form>
    </ion-card>
</ion-content>