<ion-header>
    <ion-toolbar color="dark">
        <ion-row id="top-bar">
            <ion-col>
                <ion-item color="lessdark" id="search">
                    <ion-icon name="search" position="floating"></ion-icon>
                    <ion-input id="search-input" placeholder="Rechercher un item" [(ngModel)]="search"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-buttons slot="end">
            <ion-button (click)="openMenu()">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngFor="let cat of categories">
            <ion-list-header color="dark" (click)="editCategorie(cat)"
                             *ngIf="search === '' || (search !== '' && getNumberOfArticleInCategorieFromSearch(cat) > 0)">
                {{cat.categorie_nom}}
            </ion-list-header>
            <div *ngFor="let art of articles">
                <ion-item
                        *ngIf="art.article_categorie === cat.categorie_id && ((search === '') || (search !== '' && art.article_nom.toLowerCase().includes(search.toLowerCase())))"
                        color="lessdark" (click)="editArticle(art)">
                    <ion-label slot="start">{{art.article_nom}}</ion-label>
                    <ion-label slot="end">{{art.article_prix}} €</ion-label>
                </ion-item>
            </div>
            <ion-item (click)="addItem(cat)" color="lessdark" *ngIf="search === ''">
                <ion-icon name="add" color="red"></ion-icon>
                <ion-label>Ajouter un article</ion-label>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
