#top-bar {
  background-color: var(--ion-color-dark);
}

//#search {
//  background-color: lighten(#1F1F1F, 10%);
//}

#add-btn {
  width: 90%;
  height: 90%;
  --border-radius: 6px;
}

//ion-list ion-item {
//  --border-color: lighten(#1F1F1F, 10%);
//}
ion-item{
}

ion-list-header {
  font-size: x-large;
  font-weight: bold;
}