ion-header {
  --ion-background-color: #000000;
}

ion-toolbar {
  --ion-background-color: #000000 !important;
}

ion-content {
  --ion-background-color: #000000;
}

ion-card {
  --color: var(--ion-color-light);
  --background: var(--ion-color-dark);
}

ion-segment {
  --color-background: #000000 !important;
}

.sub-bar {
  --background: #262626 !important;
}

.info {
  text-align: left;
}

.info ion-text {
  margin-bottom: 2vh;
}

.opt-btn {
  text-transform: uppercase;
  width: 100%;
}

.opt-btn ion-button {
  width: 100%;
}

.spinner{
  --color:white !important;
}
