<div *ngIf="commanderDispo; else commandeNotDispo">
    <ion-toolbar class="sub-bar" color="lessdark">
        <ion-segment value=5 (ionChange)="segmentChanged($event)" value="to-come">
            <ion-segment-button value='passed'>
                <ion-label>Passées</ion-label>
            </ion-segment-button>
            <ion-segment-button value='to-come'>
                <ion-label>A venir</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullMin="100" pullMax="200">
        <ion-refresher-content
                pullingIcon="arrow-down-outline"
                pullingText="Tirer vers le bas pour actualiser"
                refreshingText="Actualisation...">
        </ion-refresher-content>
    </ion-refresher>

    <!--Section reservations pssées-->
    <div *ngIf="seg==='passed'">
        <div *ngFor="let date of datePassedOrders">
            <ion-list-header color="dark">
                <ion-label>{{date | date: 'EEEE, d MMMM, y' : '': 'fr-FR' | titlecase}}</ion-label>
            </ion-list-header>
            <div *ngFor="let order of orders">

                <div *ngIf="order.order_status === 'served' && date === order.createdAt.substring(0, 10)">
                    <ion-item color="lessdark" lines="full"
                              (click)="showOrderDetails(order)">
                        <ion-row>
                            <ion-col class="info">
                                <ion-row>
                                    <ion-text class="title-res" color="red">Commande de : <span
                                            style="font-weight: bolder">{{order.user_nom}} {{order.user_prenom}}</span>
                                    </ion-text>
                                </ion-row>
                                <ion-row>
                                    <ion-text>Service: {{order.service}}</ion-text>
                                </ion-row>
                                <ion-row>
                                    <ion-text>Status de la
                                        commande: {{order.order_status | orderStatusPrint}}</ion-text>
                                </ion-row>
                                <ion-row>
                                    <ion-text>
                                        Le {{order.createdAt | date: 'EEEE, d MMMM, y, h:mm:ss' : '': 'fr-FR' | titlecase}}
                                        .
                                    </ion-text>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </div>
            </div>
        </div>
    </div>
    <!--Section reservation à venir-->
    <div *ngIf="seg==='to-come'">
        <div *ngFor="let order of orders">

            <div *ngIf="order.order_status === 'creation' || order.order_status === 'payed' || order.order_status === 'ready'">
                <ion-item color="lessdark" lines="full"
                          (click)="showOrderDetails(order)">
                    <ion-row>
                        <ion-col class="info">
                            <ion-row>
                                <ion-text class="title-res" color="red">Commande de : <span
                                        style="font-weight: bolder">{{order.user_nom}} {{order.user_prenom}}</span>
                                </ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-text>Service: {{order.service}}</ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-text>Status de la commande: {{order.total}} €</ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-text>Montant: {{order.order_status | orderStatusPrint}}</ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-text>Il y a {{prettyPrintSinceDate(order)}}.</ion-text>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </div>

        </div>
    </div>
</div>
<ng-template #commandeNotDispo style="text-align: center">
        <ion-label class="ion-text-wrap" color="light">
            Votre compte So FAR ne prend pass en charge les commandes. Contacter So FAR si vous souhaitez changer de
            situation.
        </ion-label>
</ng-template>
