<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Détails Commande</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <!--        Commande    ----------------------------------->
        <ion-list-header color="dark">
            <ion-label>Commande</ion-label>
        </ion-list-header>

        <ion-item color="lessdark" class="title">
            <ion-row>
                <ion-col size="4">
                    <ion-label class="ion-text-wrap">Quantité</ion-label>
                </ion-col>
                <ion-col class="col-value" size="8">
                    <ion-label class="ion-text-wrap">
                        Article
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-item>

        <div class="commande" *ngFor="let item of order.items">
            <ion-item color="lessdark">
                <ion-row>
                    <ion-col size="4">
                        <ion-label class="left-slot ion-text-wrap">
                            {{item.quantity}}
                        </ion-label>
                    </ion-col>
                    <ion-col class="col-value" size="8">
                        <ion-label class="ion-text-wrap">
                            {{item.article_nom}}
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-item>
        </div>

        <!--        Menu    ----------------------------------->
        <div *ngIf="order.order_status === 'payed' || order.order_status === 'creation' || order.order_status === 'ready'">
            <ion-list-header color="dark">
                <ion-label>Menu</ion-label>
            </ion-list-header>

            <div *ngIf="order.order_status === 'creation'">
                <ion-item color="lessdark">
                    <ion-row>
                        <ion-text style="text-align: center">
                            Cette commande est récente et n'a pas encore été pris en charge.
                            Veuillez choisir de l'accepter ou de la refuser.
                        </ion-text>
                    </ion-row>
                </ion-item>

                <ion-item color="lessdark">
                    <ion-row>
                        <ion-col size="6">
                            <ion-button color="red" expand="full" (click)="refuseOrder()">Refuser</ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <ion-button color="red" expand="full" (click)="acceptOrder()">Accepter</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </div>

            <div *ngIf="order.order_status === 'payed'">
                <ion-item color="lessdark">
                    <ion-row>
                        <ion-text style="text-align: center">
                            Cette commande a déjà été payée. Veuillez confirmer lorsqu'elle est prête pour notifier
                            le client. Sinon confirmer le service de la commande.
                        </ion-text>
                    </ion-row>
                </ion-item>

                <ion-item color="lessdark">
                    <ion-row>
                        <ion-col size="6">
                            <ion-button color="red" expand="full" (click)="orderReady()">Commande prête</ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <ion-button color="red" expand="full" (click)="orderServed()">Commande servie</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </div>

            <div *ngIf="order.order_status === 'ready'">
                <ion-item color="lessdark">
                    <ion-row>
                        <ion-text style="text-align: center">
                            La commande est prête. Le client doit venir la chercher.
                        </ion-text>
                    </ion-row>
                </ion-item>

                <ion-item color="lessdark">
                    <ion-row>
                        <ion-col size="12">
                            <ion-button color="red" expand="full" (click)="orderServed()">Commande servie</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </div>

        </div>


        <!--        Informations sur la réservation    ----------------------------------->
        <ion-list-header color="dark">
            <ion-label>Informations sur la commande</ion-label>
        </ion-list-header>

        <ion-item color="lessdark" lines="full">
            <ion-row>
                <ion-col size="6">
                    <ion-label class="left-slot ion-text-wrap">Client</ion-label>
                </ion-col>
                <ion-col class="col-value" size="6">
                    <ion-label class="ion-text-wrap" (click)="showUserInfos(order.user_id)" style="font-weight: bolder">
                        {{order.user_prenom}} {{order.user_nom}}
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item color="lessdark">
            <ion-row>
                <ion-col size="6">
                    <ion-label class="left-slot ion-text-wrap">Montant de la commande</ion-label>
                </ion-col>
                <ion-col class="col-value" size="6">
                    <ion-label class="ion-text-wrap">{{order.total}} €</ion-label>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item color="lessdark">
            <ion-row>
                <ion-col size="6">
                    <ion-label class="left-slot ion-text-wrap">Pourboire</ion-label>
                </ion-col>
                <ion-col class="col-value" size="6">
                    <ion-label class="ion-text-wrap">{{order.pourboire}} €</ion-label>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item color="lessdark">
            <ion-row>
                <ion-col size="6">
                    <ion-label class="left-slot ion-text-wrap">Date de commande</ion-label>
                </ion-col>
                <ion-col class="col-value" size="6">
                    <ion-label class="ion-text-wrap">
                        {{order.createdAt | date: 'EEEE, d MMMM, y, h:mm:ss' : '': 'fr-FR' | titlecase}}
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item color="lessdark">
            <ion-row>
                <ion-col size="6">
                    <ion-label class="left-slot ion-text-wrap">Status de la commande</ion-label>
                </ion-col>
                <ion-col class="col-value" size="6">
                    <ion-label class="ion-text-wrap">
                        {{order.order_status | orderStatusPrint}}
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-item>


    </ion-list>
</ion-content>
