<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Création - Article</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-title color="light">Création d'un nouvel article</ion-card-title>
        <form (ngSubmit)="onSubmit()">

            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label>Nom de l'article</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-input required type="text" [(ngModel)]="nom" name="nom"></ion-input>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label>Prix</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-input required type="number" (input)="updatePrix($event)" name="prix"
                                   [(ngModel)]="prix"></ion-input>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label>Description</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-textarea required type="text" [(ngModel)]="desc" name="desc" rows="5"></ion-textarea>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label>Catégorie</ion-label>
                    </ion-row>
                    <ion-row>
                        <!--                        <ion-input required type="text" [value]="categorie.categorie_nom" name="categorie"-->
                        <!--                                   (input)="updateCategorie($event)"></ion-input>-->
                        <ion-select [okText]="oktext" [cancelText]="canceltext" value="{{categorie.categorie_id}}"
                                    (ionChange)="updateCategorie($event)">
                            <div *ngFor="let cats of categories">
                                <ion-select-option [value]="cats.categorie_id">
                                    {{cats.categorie_nom}}
                                </ion-select-option>
                            </div>
                        </ion-select>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item (click)="updateDispo($event)">
                <ion-label>Disponibilité</ion-label>
                <ion-checkbox [checked]="dispo" slot="end"></ion-checkbox>
            </ion-item>

            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label>Taxe</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-input required type="number" [(ngModel)]="taxe" name="taxe"></ion-input>
                    </ion-row>
                </ion-grid>
            </ion-item>

<!--            TODO PHOTO -->
<!--            <ion-item>-->
<!--                <ion-grid>-->
<!--                    <ion-row>-->
<!--                        <ion-label>Photo</ion-label>-->
<!--                    </ion-row>-->
<!--                    &lt;!&ndash;          <ion-row>&ndash;&gt;-->
<!--                    &lt;!&ndash;            <ion-input required type="text" [value]="nom" name="categorieName" (input)="updateNom($event)"></ion-input>&ndash;&gt;-->
<!--                    &lt;!&ndash;          </ion-row>&ndash;&gt;-->
<!--                </ion-grid>-->
<!--            </ion-item>-->

            <ion-item>
                <ion-button (click)="onSubmit()" color="red" size="default" id="submit-btn" expand="block">Valider
                </ion-button>
            </ion-item>
        </form>
    </ion-card>
</ion-content>