<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/connexion-partenaire"></ion-back-button>
        </ion-buttons>
        <ion-title>Inscription</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="padding">
        <div class="logo">
            <ion-img src="../assets/images/logo_dark.svg"></ion-img>
        </div>
        <ion-item>
            <p>Formulaire d'inscription</p>
        </ion-item>
        <ion-item>
            <ion-input required color="light" type="text" placeholder="Nom de l'établissement"
                       [(ngModel)]="pro['nom']"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input required color="light" type="text" placeholder="N° SIRET de l'entreprise"
                       [(ngModel)]="pro['siret']"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input required color="light" type="text" placeholder="Email" [(ngModel)]="pro['email']"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input required color="light" type="text" placeholder="Adresse"
                       [(ngModel)]="pro['adresse']"></ion-input>
        </ion-item>
        <ion-item slot="start">
            <ion-label required color="medium">Type</ion-label>
            <ion-select [okText]="oktext" [cancelText]="canceltext" type="text" [(ngModel)]="pro['cat']">
                <ion-select-option color="danger" value="bar">Bar</ion-select-option>
                <ion-select-option value="boite de nuit">Boite</ion-select-option>
                <ion-select-option value="restaurant">Restaurant</ion-select-option>
                <ion-select-option value="brasserie">Brasserie</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button color="red" expand="block"  (click)="insert()" class="register-btn">
            Inscription
        </ion-button>
    </div>
</ion-content>

