<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Services  des  commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title color="light">Choix de service</ion-card-title>
    <form (ngSubmit)="onSubmit()">
      <ion-item (click)="updateServiceTable($event)">
        <ion-label>Service à table</ion-label>
        <ion-checkbox [checked]="serviceTable"> </ion-checkbox>
      </ion-item>

      <ion-item (click)="updateServiceRetrait($event)">
        <ion-label>Retrait au comptoir</ion-label>
        <ion-checkbox [checked]="serviceRetrait" > </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-button (click)="onSubmit()" color="red" size="default" id="submit-btn" expand="block">Valider
        </ion-button>
      </ion-item>
    </form>
  </ion-card>
</ion-content>