<ion-content *ngIf="user !== null">
    <ion-header>
        <ion-toolbar color="dark">
            <ion-segment slot="" value=1 [(ngModel)]="segmentRC" (ionChange)="segmentChanged($event,segmentRC)">
                <ion-segment-button  value=0>Commandes</ion-segment-button>
                <ion-segment-button value=1>Réservations</ion-segment-button>
            </ion-segment>
        </ion-toolbar>
    </ion-header>
    <!--Segments Réservations/Commandes-->
    <div *ngIf="segmentRC==='0'">
        <ion-toolbar class="sub-bar" color="lessdark">
            <ion-segment value=3 [(ngModel)]="segmentC" (ionChange)="segmentChanged($event,segmentC)">
                <ion-segment-button value=3>En cours</ion-segment-button>
                <ion-segment-button value=4>Passées</ion-segment-button>
            </ion-segment>
        </ion-toolbar>


        <ion-refresher slot="fixed" (ionRefresh)="refreshCommandes($event)" pullMin="100" pullMax="200">
            <ion-refresher-content
                    pullingIcon="arrow-down-outline"
                    pullingText="Tirer vers le bas pour actualiser"
                    refreshingText="Actualisation...">
            </ion-refresher-content>
        </ion-refresher>

        <div  *ngIf="chargement==true" class="ion-text-center" padding="15px">
            <ion-spinner color="light"></ion-spinner>
        </div>
        <!--Segment Commandes en préparation-->
        <div *ngIf="segmentC==='3'">
            <div *ngFor="let commande of commandesEnPreparation">
                <ion-card>
                    <ion-row (click)="showdetails(commande.infos)" class="ion-align-items-center">
                        <ion-col size="7">
                            <ion-card-header>
                                <ion-card-title color="red">{{commande.infos.pro_nom}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <p *ngIf="commande.infos.items.length==1">{{commande.infos.items.length}} article - {{commande.infos.total}}€</p>
                                <p *ngIf="commande.infos.items.length>1">{{commande.infos.items.length}} articles - {{commande.infos.total}}€</p>
                                <p> {{commande.infos.createdAt.split(":")[0]+":"+commande.infos.createdAt.split(":")[1]}}</p>
                                <br>
                                <p *ngIf="commande.infos.order_status=='payed'">En cours de préparation</p>
                                <p *ngIf="commande.infos.order_status=='creation'">En attente</p>
                            </ion-card-content>
                        </ion-col>
                        <ion-col size="3">
                            <ion-card class="row_img_com">
                                <ion-img class="image_etab" [src]="commande.image"></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
            <div *ngIf="!commandesEnPreparation || commandesEnPreparation.length === 0" style="text-align: center">
                <ion-label color="light" class="ion-text-wrap">
                    Tu n'as aucune commande en cours.
                </ion-label>
            </div>
        </div>
        <!--Section commandes servies-->
        <div *ngIf="segmentC==='4'">
            <div *ngFor="let commande of commandesServies">
                <ion-card>
                    <ion-row (click)="showdetails(commande.infos)" class="ion-align-items-center">
                        <ion-col size="7">
                            <ion-card-header>
                                <ion-card-title color="red">{{commande.infos.pro_nom}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <p *ngIf="commande.infos.items.length==1">{{commande.infos.items.length}} article - {{commande.infos.total}}€</p>
                                <p *ngIf="commande.infos.items.length>1">{{commande.infos.items.length}} articles - {{commande.infos.total}}€</p>
                                <p> {{commande.infos.createdAt.split(":")[0]+":"+commande.infos.createdAt.split(":")[1]}}</p>
                                <br>
                                <p *ngIf="commande.infos.order_status=='refused'">Refusée</p>
                                <p *ngIf="commande.infos.order_status=='served'">Servie</p>
                                <p *ngIf="commande.infos.order_status=='ready'">Disponible</p>
                            </ion-card-content>
                        </ion-col>
                        <ion-col size="3">
                            <ion-card class="row_img_com">
                                <ion-img class="image_etab" [src]="commande.image"></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-footer  *ngIf="commande.infos.order_status!='refused'">
                        <div style="display: flex; justify-content: center;">
                            <ion-buttons>
                                <ion-button size="small" style="font-weight: bold;" fill="clear" color="red"
                                            style="width: auto;" (click)="recommander(commande.infos)">
                                    Recommander
                                </ion-button>
                            </ion-buttons>
                        </div>
                    </ion-footer>
                </ion-card>
            </div>
            <div *ngIf="!commandesServies || commandesServies.length === 0" style="text-align: center">
                <ion-label color="light" class="ion-text-wrap">
                    Tu n'as aucune commande passées.
                </ion-label>
            </div>
        </div>
    </div>
    <div *ngIf="segmentRC==='1'">
        <ion-toolbar class="sub-bar" color="lessdark">
            <ion-segment value=6 [(ngModel)]="segmentR" (ionChange)="segmentChanged($event,segmentR)">
                <ion-segment-button value=6>En cours</ion-segment-button>
                <ion-segment-button value=5>Passées</ion-segment-button>
            </ion-segment>
        </ion-toolbar>
        <div *ngIf="chargement_resa==true" class="ion-text-center" padding="15px">
            <ion-spinner color="light"></ion-spinner>
        </div>
        <ion-refresher slot="fixed" (ionRefresh)="refreshReservations($event)" pullMin="100" pullMax="200">
            <ion-refresher-content
                    pullingIcon="arrow-down-outline"
                    pullingText="Tirer vers le bas pour actualiser"
                    refreshingText="Actualisation...">
            </ion-refresher-content>
        </ion-refresher>

        <!--section réservations passées-->
        <div *ngIf="segmentR==='5'">
            <div *ngFor="let res of reservationsPasses">
                <ion-card color="dark">
                    <ion-row>
                        <ion-card class="row_img">
                            <ion-img class="image_etab" [src]="res.img"></ion-img>
                        </ion-card>

                        <ion-col class="info">
                            <ion-row>
                                <ion-col>
                                    <ion-text class="nom-pro" color="red">{{res.nom_pro}}</ion-text>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-text class="date">Le <span style="font-weight: bold">{{res.date}}</span> à <span
                                        style="font-weight: bold">{{res.heure}}</span></ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-text class="resa">Réservation pour {{res.nbPerso}} personnes</ion-text>
                            </ion-row>
                            <ion-row>
<!--                                <ion-text class="status">Status: {{res.validation | reservationStatus}}</ion-text>-->
<!--                                <ion-icon *ngIf="res.validation === '1'" style="margin-left: 1vh" name="checkmark-circle" color="red"></ion-icon>-->
                                <ion-text *ngIf="res['validation']==='0'">Annulée par l'établissement</ion-text>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
            <div *ngIf="!reservationsPasses || reservationsPasses.length === 0" style="text-align: center">
                <ion-label color="light" class="ion-text-wrap">
                    Tu n'as aucune réservation passées.
                </ion-label>
            </div>
        </div>
        <!--section réservations à venir-->
        <div *ngIf="segmentR==='6'">
            <div *ngFor="let res of reservationsAVenir">
                <ion-card color="dark">
                    <ion-row>
                        <ion-card class="row_img">
                            <ion-img class="image_etab" [src]="res.img"></ion-img>
                        </ion-card>

                        <ion-col class="info">
                            <ion-row>
                                <ion-col>
                                    <ion-text class="nom-pro" color="red">{{res.nom_pro}}</ion-text>
                                </ion-col>
                                <ion-card class="exit-col">
                                        <ion-icon name="close-circle-outline" color="red" size="large" class="exit-btn" (click)="cancelRes(res)"></ion-icon>
                                </ion-card>
                            </ion-row>
                            <ion-row>
                                <ion-text class="date">Le <span style="font-weight: bold">{{res.date}}</span> à <span
                                        style="font-weight: bold">{{res.heure}}</span></ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-text class="resa">Réservation pour {{res.nbPerso}} personnes</ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-text class="status">Statut: {{res.validation | reservationStatus}}
                                </ion-text>
                                <ion-icon *ngIf="res.validation === '1'" style="margin-left: 1vh" name="checkmark-circle" color="red"></ion-icon>
                                <ion-icon *ngIf="res.validation === '2'" style="margin-left: 1vh" name="remove-circle" color="red"></ion-icon>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
            <div *ngIf="!reservationsAVenir || reservationsAVenir.length === 0" style="text-align: center">
                <ion-label color="light" class="ion-text-wrap">
                    Tu n'as aucune réservation à venir.
                </ion-label>
            </div>
        </div>
    </div>
</ion-content>
<!--Affichage user non connecté-->
<ion-content *ngIf="user === null">
    <app-redirection-client></app-redirection-client>
</ion-content>

