ion-header {

  --ion-background-color: #000000 !important;

}

ion-toolbar {

  --ion-background-color: #000000 !important;

}

ion-content {
  --ion-background-color: #000000;
}

ion-card {
  --color: var(--ion-color-light);
  --background: var(--ion-color-dark);
}

ion-segment {
  --color-background: #000000 !important;

}

.back {
  color: var(--ion-color-light);
}

.title {
  width: auto;
  color: var(--ion-color-light);
}

.center {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50%;
}


ion-segment-button {

  --color-checked: var(--ion-color-danger);
  --color: var(--ion-color-light);
}

.choice-btn {
  border: none !important;
  color: lighten($color: #f8f8f8, $amount: 0) !important;
  text-align: center;
  --border-radius: 64px !important;
  --border: none !important;
}

.logo {
  margin: 10vh;
}

.logo ion-img {
  height: auto;
  width: 15vh;
  text-align: center;
  margin: auto;
  display: flex;
}

.cont {
  text-align: center;
}

.row_img {
  width: 33.34vw;
}

.row_img_com {
  width: 30vw;
}

.image_etab {
  height: auto;
  width: auto;
}

.info {
  text-align: left;
}

.info ion-text {
  margin-bottom: 2vh;
}

.info .nom-pro {
  font-size: medium;
  font-weight: bold;
}

.exit-col {
  width: fit-content;
  height: fit-content;
  margin: 2px 2px;
  box-shadow: none !important;
}

.exit-btn {
  cursor: pointer;
}
