<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Autres paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<!--    <ion-card-title color="light"></ion-card-title>-->
    <form (ngSubmit)="onSubmit()">

      <ion-item (click)="updateNeedResaDetails($event)">
          <ion-label class="ion-text-wrap">
              <ion-text color="light">
                  <h3>Réservations complètes</h3>
              </ion-text>
              <ion-note>Cette option demande aux utilisateurs qui réserve dans votre établissement de fournir la liste
                  complètes des participants via leurs compte So FAR.
              </ion-note>
          </ion-label>
        <ion-checkbox [checked]="needResaDetails" slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-button (click)="onSubmit()" color="red" size="default" id="submit-btn" expand="block">Valider
        </ion-button>
      </ion-item>
    </form>
  </ion-card>
</ion-content>