<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel({})">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Mon Panier</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" color="dark">
        <ion-img src="/assets/stripe-white.svg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Règle ta commande avec Stripe</ion-card-subtitle>
            <ion-card-title>Paiement</ion-card-title>
            <ion-row>
                <ion-col>Montant à régler</ion-col>
                <ion-col style="font-weight: bold"> {{totalAmount.toFixed(2)}} € </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content>
            <form action="/" method="post" id="payment-form">
                <div class="form-row">
                    <div id="card-element"> <!-- a Stripe Element will be inserted here. --> </div>
                    <!-- Used to display Element errors -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <ion-button type="submit" color="red" expand="full">Je commande !</ion-button>
                <ion-label class="ion-text-wrap">
                    <ion-label>
                        Tu ne seras débité(e) que si l'établissement accepte ta commande. Il s'engage alors de te la fournir.
                    </ion-label>
                </ion-label>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
