<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Position</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title color="light">Adresse ou ville</ion-card-title>

    <ion-item>
      <ion-row class="ion-align-items-center">
        <ion-label color="red"> Ma position </ion-label>
        <ion-list>
          <ion-checkbox mode="md" [(ngModel)]="ma_pos" color="light"></ion-checkbox>
        </ion-list>
      </ion-row>
    </ion-item>

    <ng-container *ngIf="!ma_pos">
      <ion-item>
        <ion-input clear-input="true" [(ngModel)]="adresse" (input)="oninputadresse($event)"></ion-input>
      </ion-item>
    </ng-container>

    <ion-item>
      <ion-button (click)="onSubmit()" color="red" shape="round" size="default" id="submit-btn" expand="block">Valider</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
