.big-avatar {
  margin: auto;
  width: 120px;
  height: 120px;
  font-size: 60px;
}

.padding-top {
  padding: 5px;
  text-align: center;
  color: var(--ion-color-light);

}

.back {
  color: var(--ion-color-light);
}

.title {
  width: auto;
  color: var(--ion-color-light);
}

.center {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50%;
}

ion-header {
  --ion-background-color: #000000 !important;
}

ion-content {
  --ion-background-color: #000000 !important;
}

ion-item {
  color: var(--ion-color-light);
}

ion-label {
  color: #b3b3b3 !important;

}


.onglet {
  color: var(--ion-color-danger);
  padding-right: 10px;
  padding-left: 2px;

}

.larger {
  color: var(--ion-color-danger);
  font-size: 100px;
}

ion-card {
  --margin: 2vh;
  --ion-background-color: var(--ion-color-dark);
  border-radius: 4px !important;
}

ion-card ion-item {
  margin-bottom: 1.5vh !important;
  margin-right: 1vh;
  margin-left: 1vh;
  --border-color: #1a1a1a !important;
}

ion-card ion-card-title {
  margin: 1vh !important;
  --font-size: medium !important;
  font-size: medium !important;
  width: auto;
}

ion-card ion-label {
  margin-right: 1vh;
}

ion-card ion-input {
  //--background: var(--ion-color-lessdark) !important;
  text-align: right;
}

ion-input {
  --color: #ffffff;
  --placeholder-color: #ffffff;
}

ion-card ion-textarea {
  //--background: var(--ion-color-lessdark) !important;
  text-align: right;
}

ion-textarea {
  --color: #ffffff;
  --placeholder-color: #ffffff;
}


#password-btn, #horraires-btn, #contact-btn, #photo-btn, #desc-btn {
  width: 100%;
}

.title {
  width: auto;
  color: var(--ion-color-light);
}


.logout {
  color: var(--ion-color-light);
}

.choice-btn {
  border: none !important;
  color: lighten($color: #f8f8f8, $amount: 0) !important;
  text-align: center;
  --border-radius: 64px !important;
  --border: none !important;
}

.buttons {
  margin-top: 2vh;
  margin-right: 1vh;
  margin-left: 1vh;
}

.buttons ion-button {
  margin-bottom: 1vh;
}

ion-button {
  text-transform: uppercase;
}

.logo {
  margin: 10vh;
}

.logo ion-img {
  height: auto;
  width: 15vh;
  text-align: center;
  margin: auto;
  display: flex;
}

.cont {
  text-align: center;
}

.logo-top {
  margin: 3px;
}

.logo-top ion-img {
  height: auto;
  width: 12vh;
  text-align: center;
  margin: auto;
  display: flex;
}



ion-item ion-icon {
  height: 85%;
}

#pro-img {
  width: 90%;
  height: auto;
}

#desc {
  text-align: left;
  background: #282829 !important;
  padding-left: 1vw;
  padding-right: 1vw;
}

#desc-size {
  //text-align: right !important;
  //--margin-right: 1vh !important;
  width: 100% !important;
  margin-bottom: 1vh !important;
}

ion-card #desc-size ion-text {
  color: #a7a7a7;
  text-align: right;
  font-size: small;
  width: 100% !important;
  right: 1vw !important;
}