<ion-content *ngIf="this.pro !== null">
    <ion-header>
        <ion-toolbar color="dark">
            <!--        <ion-title class="title"> Mon compte</ion-title>-->
            <ion-buttons slot="end">
                <ion-button *ngIf="this.pro.id_pro" class="logout" (click)="deconnexion()">
                    <ion-icon class="onglet" name="log-out-outline"  color="red"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <!--Affichage des informations si un pro est connecté-->

    <div class="padding-top">
<!--        <div *ngIf="base64Image!=='data:image/jpeg;base64,'&&base64Image!=='data:image/jpeg;base64,null'&&base64Image">-->
<!--            <ion-avatar (click)="presentActionSheet()" class="big-avatar">-->
<!--                <img src="{{base64Image}}"/>-->
<!--            </ion-avatar>-->
<!--        </div>-->
<!--        &lt;!&ndash;Si il n'a pas de photo, on affiche une icone par défaut&ndash;&gt;-->
<!--        <div *ngIf="base64Image==='data:image/jpeg;base64,'||base64Image==='data:image/jpeg;base64,null'||!base64Image">-->
<!--            <ion-avatar (click)="presentActionSheet()" class="big-avatar">-->
<!--                <ion-icon class="larger" name="person-circle" color="red"></ion-icon>-->
<!--            </ion-avatar>-->
<!--        </div>-->
        <div class="logo-top">
            <ion-img src="../assets/images/logo_dark.svg"></ion-img>
        </div>
        <ion-label text-center> Paramètres du compte</ion-label>
    </div>

    <!--    <ion-list>-->
    <!--        <ion-item (click)="changeMail()" mode="md" lines="none">-->
    <!--            <ion-icon class="onglet" name="mail"></ion-icon>-->
    <!--            <ion-label>{{pro.email_pro}}</ion-label>-->
    <!--            <ion-icon name="chevron-forward"></ion-icon>-->
    <!--        </ion-item>-->
    <!--        <ion-item (click)="changeMdp()" mode="md" lines="none">-->
    <!--            <ion-icon class="onglet" name="lock-closed"></ion-icon>-->
    <!--            <ion-input type="password" value='password'></ion-input>-->
    <!--            <ion-icon name="chevron-forward"></ion-icon>-->
    <!--        </ion-item>-->
    <!--        <ion-item (click)="changeThing('adresse', 2)" mode="md" lines="none">-->
    <!--            <ion-icon class="onglet" name="business-outline"></ion-icon>-->
    <!--            <ion-input type="text" value={{this.pro.categorie_pro}}></ion-input>-->
    <!--            <ion-icon name="chevron-forward"></ion-icon>-->
    <!--        </ion-item>-->
    <!--        <ion-item (click)="changeDescription()" mode="md" lines="none">-->
    <!--            <ion-icon class="onglet" name="information-circle-outline"></ion-icon>-->
    <!--            <ion-input type="text" value={{this.pro.description_pro}}></ion-input>-->
    <!--            <ion-icon name="chevron-forward"></ion-icon>-->
    <!--        </ion-item>-->
    <!--    </ion-list>-->

    <ion-card>
        <ion-card-title color="light">Informations professionnelles</ion-card-title>
        <ion-item>
            <ion-icon class="onglet" color="red" name="person-circle"></ion-icon>
            <ion-label>Nom</ion-label>
            <ion-textarea [(ngModel)]="pro.nom_pro" readonly="true"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-icon class="onglet" color="red" name="home"></ion-icon>
            <ion-label>Adresse</ion-label>
            <ion-textarea [(ngModel)]="pro.adresse" readonly="true"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-icon class="onglet" color="red" name="wine"></ion-icon>
            <ion-label>Catégorie</ion-label>
            <ion-textarea [(ngModel)]="pro.categorie_pro" readonly="true"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-button color="red" id="contact-btn" (click)="contactSF()">Contactez SoFAR</ion-button>
        </ion-item>

        <ion-item>
            <ion-icon class="onglet" name="time-outline" color="red"></ion-icon>
            <ion-button color="red" id="horraires-btn" (click)="changeHoraires()">Mes horaires d'ouverture</ion-button>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-card-title color="light">Identifiants</ion-card-title>
        <ion-item>
            <ion-icon class="onglet" name="mail" color="red"></ion-icon>
            <ion-label>Email</ion-label>
            <ion-textarea [(ngModel)]="pro.email_pro" readonly="true"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-icon class="onglet" name="lock-closed" color="red"></ion-icon>
            <ion-button color="red" id="password-btn" (click)="changePassword()">Changer de mot de passe</ion-button>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-card-title color="light">Photo de présentation</ion-card-title>
        <ion-item>
            <ion-icon class="onglet" name="image" color="red"></ion-icon>
            <ion-button color="red" id="photo-btn" (click)="changePhoto()">Choisir une photo</ion-button>
        </ion-item>
        <ion-item *ngIf="base64Image && base64Image.length > 40">
            <ion-img [src]="base64Image" id="#pro-img"></ion-img>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-card-title color="light">Description de l'établissement</ion-card-title>
        <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea #desc id="desc" rows="4" maxLength="1000" (keyup)="resize()"
                          [(ngModel)]="pro.description_pro"></ion-textarea>
        </ion-item>
        <ion-item id="desc-size">
            <ion-text> {{this.pro.description_pro.length}} / 1000</ion-text>
        </ion-item>
        <ion-item>
            <ion-icon class="onglet" name="document-text" color="red"></ion-icon>
            <ion-button color="red" id="desc-btn" (click)="changeDesc()">Changer ma description</ion-button>
        </ion-item>
    </ion-card>


</ion-content>
<!--Demande de connexion ou d'inscription si aucun pro n'est connecté-->
<ion-content *ngIf="this.pro === null">
    <div class="logo">
        <ion-img src="../assets/images/logo_dark.svg"></ion-img>
    </div>
    <div class="cont">
        <p style="color: var(--ion-color-medium);"> Vous n'êtes pas connecté(e)</p>
        <br>
        <ion-button color="red" expand="block" routerLink="/connexion-partenaire" class="choice-btn">Connexion
        </ion-button>
        <br>
        <ion-label color="medium">OU</ion-label>
        <br>
        <br>
        <ion-button color="red" expand="block" routerLink="/inscription-partenaire" class="choice-btn">Inscription
        </ion-button>
    </div>
</ion-content>
