<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Délais de réservation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title color="light">Reservations fermées après : </ion-card-title>
    <form (ngSubmit)="onSubmit_heures()">
      <ion-item>
        <ion-row class="ion-align-items-center">
          <ion-label color="red"> Pas d'heure limite </ion-label>
          <ion-list>
            <ion-checkbox mode="md" [(ngModel)]="aucune" color="light" [ngModelOptions]="{standalone:true}"></ion-checkbox>
          </ion-list>
        </ion-row>
      </ion-item>

      <ion-item *ngIf="!aucune">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col  class="ion-no-padding" size="3">
              <ion-label color="red">Heure : </ion-label>
            </ion-col>
            <ion-col class="ion-no-padding" size="4">
              <ion-datetime [doneText]="oktext" [cancelText]="canceltext"[(ngModel)]="heure_limite" [minuteValues]="[0,15,30,45]" class="li-dp-input" displayFormat="HH:mm" pickerFormat="HH:mm" [ngModelOptions]="{standalone:true}"></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </form>

    <ion-item>
      <ion-button (click)="onSubmit_heures()" color="red" shape="round" size="default" id="submit-btn-heures" expand="block">Valider</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-title color="light">Ouverture des réservations : </ion-card-title>
    <ion-item>
      <ion-text>Ici vous pouvez décider combien de jours à l'avance les réservations vont être ouvertes.</ion-text>
    </ion-item>
    <form (ngSubmit)="onSubmit_jours()">
      <ion-item>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="6">
              <ion-label color="red">Nombre de jours : </ion-label>
            </ion-col>
            <ion-col size="6">
             <!-- <ion-text color="light">{{nb_jours}}</ion-text>      -->
              <ion-input type="number" color="light" value="{{nb_jours}}" name="delais" [(ngModel)]="nb_jours" ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
              <ion-range min="1" max="365" step="1" color="red" [(ngModel)]="nb_jours" [ngModelOptions]="{standalone:true}">
                <ion-icon class="white-icon" size="small" slot="start" name="calendar-outline"></ion-icon>
                <ion-icon class="white-icon" slot="end" name="calendar-outline"></ion-icon>
              </ion-range>
          </ion-row>
        </ion-grid>
      </ion-item>
    </form>

    <ion-item>
      <ion-button (click)="onSubmit_jours()" color="red" shape="round" size="default" id="submit-btn" expand="block">Valider</ion-button>
    </ion-item>
  </ion-card>


</ion-content>
