<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Mon Panier</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let product of panier" color="dark" (click)="openArticle(product.article)">
            <ion-label class="art-name">
                {{product.quantity}} · {{product.article.article_nom}}
            </ion-label>
            <ion-label class="value">
                {{(product.quantity * product.article.article_prix).toFixed(2)}} €
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-item color="dark" class="total">
        <ion-label>
            Sous Total
        </ion-label>
        <ion-label class="value">
            {{subTotal.toFixed(2)}} €
        </ion-label>
    </ion-item>

    <ion-item-divider color="dark"></ion-item-divider>

    <ion-item color="dark">
        <ion-label slot="start">
            Pourboire (en €)
        </ion-label>
        <ion-input type="number" min="0" clear-input="true" color="lessdark" id="pourboire-input"
                   [(ngModel)]="pourboire" placeholder="0"(ionBlur)="onPourboireBlur($event)"></ion-input>
    </ion-item>

    <ion-item-divider color="dark"></ion-item-divider>

    <ion-item color="dark" class="total">
        <ion-label>
            Total
        </ion-label>
        <ion-label class="value">
            {{countTotal().toFixed(2)}} €
        </ion-label>
    </ion-item>
    <ion-item-divider color="black"></ion-item-divider>
    <ion-item-divider color="dark"></ion-item-divider>
    <ion-item color="dark">

            <ion-radio-group >

                    <ion-label>Choix de service</ion-label>

                <ion-item *ngIf="tableService==1" color="dark">
                    <ion-label >Service à table</ion-label>
                    <ion-radio slot="end" value="table" (click)="onClickTable()" slot="end" aria-checked=""></ion-radio>
                </ion-item>

                <ion-item *ngIf="comptoirService==1" color="dark">
                    <ion-label >Retrait au comptoir</ion-label>
                    <ion-radio value="comptoir" checked="true" (click)="onClickComptoir()" ></ion-radio>
                </ion-item>
            </ion-radio-group>


    </ion-item>
</ion-content>

<ion-footer>
    <ion-toolbar color="black">
        <ion-button color="red" expand="full" (click)="purchase()">
            Passer la commande
        </ion-button>
    </ion-toolbar>
</ion-footer>
