.total {
  padding-top: 2vh;
  background-color: #1a1a1a;
  font-weight: bolder;
}

#pourboire-input {
  background: var(--ion-color-lessdark);
  color: white;
  text-align: right;
}

.art-name {
  font-weight: bold;
}

.value {
  text-align: right;
}