ion-content {
  --ion-background-color: #000000;
}

.logo {
  margin: 10vh;
}

.logo ion-img {
  height: auto;
  width: 15vh;
  text-align: center;
  margin: auto;
  display: flex;
}

.cont {
  text-align: center;
}

ion-segment-button {

  --color-checked: var(--ion-color-danger);
  --color: var(--ion-color-light);
}

.choice-btn {
  border: none !important;
  color: lighten($color: #f8f8f8, $amount: 0) !important;
  text-align: center;
  --border-radius: 64px !important;
  --border: none !important;
}