<ion-content>
  <div class="logo">
    <ion-img src="../assets/images/logo_dark.svg"></ion-img>
  </div>
  <div class="cont">
    <br>
    <ion-button color="red" expand="block" routerLink="/connexion-client" class="choice-btn">Je me connecte
    </ion-button>
    <br>
    <ion-label color="medium">OU</ion-label>
    <br>
    <br>
    <ion-button color="red" expand="block" routerLink="/inscription-client" class="choice-btn">Je m'inscris
    </ion-button>
  </div>
</ion-content>