ion-header {

  --ion-background-color: #000000 !important;

}

ion-content {
  --ion-background-color: #000000 !important;
}

ion-card {
  --color: var(--ion-color-light);
  --background: var(--ion-color-dark);

}

.padding-cards {
  padding: 1em;
}

.margin-valider {
  margin-left: 8px;
}

ion-input {
  --padding-start: 16px !important;
}

div {
  padding-left: 16px !important;
}

.email-input {
  --background: #414141;
}