<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)='pop()' color="light">
                <ion-icon color="light" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Réserver - {{ item['name']}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="padding-cards">

        <ion-label color="red">Nombre de personnes</ion-label>

        <ion-select [okText]="oktext" [cancelText]="canceltext" class="li-dp-input" required placeholder="Selectionner"
                    (ionFocus)="onInputnbPers($event)" value="{{reserve.nbPers}}">
            <ion-select-option *ngFor="let i of NbPers">{{i}}</ion-select-option>
        </ion-select>

        <ion-label color="red">
            <br> C'est pour quand? <br>
        </ion-label>

        <ion-input [readonly]="true" class="li-dp-input" placeholder="Selectionner" [(ngModel)]="reserve['dateRes']"
                   (ionFocus)="openDatePicker()"></ion-input>

        <ion-label color="red">
            <br> A quelle heure?
        </ion-label>

        <ion-datetime [doneText]="oktext" [cancelText]="canceltext" class="li-dp-input" [minuteValues]="minutes"
                      [hourValues]="heures" [min]="minTime" [max]="maxTime" [(ngModel)]="reserve['heureRes']"
                      displayFormat="HH:mm" pickerFormat="HH:mm" placeholder="Selectionner"></ion-datetime>

        <ng-container *ngIf="item['categorie'] !='boite de nuit'">
            <ion-label color="red">
                <br> Emplacement
            </ion-label>

            <ion-select [okText]="oktext" [cancelText]="canceltext" class="li-dp-input"
                        *ngIf="item['terrasse'] == 1;else no_terrasse" required placeholder="Selectionner"
                        ngModel="reserve.emplacement" (ionFocus)="onInputemplacement($event)">
                <ion-select-option>Terrasse</ion-select-option>
                <ion-select-option>Intérieur</ion-select-option>
            </ion-select>


            <ng-template #no_terrasse>
                <div class="li-dp-input">
                    <ion-label><br> Intérieur (pas de terrasse) <br> <br></ion-label>
                </div>
            </ng-template>
        </ng-container>

        <ion-label color="red">
            <br> Consigne particulière
        </ion-label>

        <ion-input clear-input="true" class="li-dp-input" placeholder="Ta consigne" [(ngModel)]="consigne"></ion-input>

    </ion-card>

    <ion-card *ngIf="item.need_resa_details && reserve.nbPers > 1">
        <ion-card-title color="light">Détails des participants</ion-card-title>
        <ion-label class="ion-text-wrap">
            <ion-text color="light">
                Cet établissement requiert que chaque participant
                à la réservation possède un profil So FAR, et que chaque compte soit indiqué lors de la réservation.
            </ion-text>
            <br>
            <ion-note>Indiquer le compte So FAR des autres participants via leurs adresse email.</ion-note>
        </ion-label>

        <ion-list *ngFor="let otherP of otherParticipants">
            <ion-item color="lessdark">
                <ion-col>
                    <ion-row>Participant {{otherP.i + 1}}</ion-row>
                    <ion-row>
                        <ion-label>Adresse email</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-input clear-input required class="email-input" [(ngModel)]="otherP.email"></ion-input>
                    </ion-row>
                    <ion-row>
                        <ion-label class="ion-text-wrap">
                            <ion-text color="light">
                                Status de vérification
                            </ion-text>
                            <br>
                            <ion-note *ngIf="otherP.i === 0">Indique si l'adresse email correspond a un compte So FAR.</ion-note>
                        </ion-label>
                        <ion-icon [name]="otherP.checked ? 'checkmark-circle' : 'close-circle'" color="red"></ion-icon>
                    </ion-row>
                </ion-col>
            </ion-item>
        </ion-list>

        <ion-button expand="block" color="red" (click)="checkOtherP()">Check</ion-button>
    </ion-card>

    <ion-col>
        <ion-button class="margin-valider" color="red" expand="block" (click)='validation()'>
            Valider
        </ion-button>
    </ion-col>

</ion-content>

