ion-content {
  --ion-background-color: #000000 !important;
}


ion-item {
  --ion-background-color: inherit;
  color: var(--ion-color-light);
}

ion-label {
  color: var(--ion-color-light);

}

ion-button {
  text-transform: uppercase;
}

ion-card {
  --margin: 2vh;
  --ion-background-color: var(--ion-color-dark);
  border-radius: 4px !important;
}

ion-card ion-item {
  margin-bottom: 1.5vh !important;
  margin-right: 1vh;
  margin-left: 1vh;
  --border-color: #1a1a1a !important;
}

ion-card ion-card-title {
  margin: 1.5vh !important;
  --font-size: medium !important;
  font-size: medium !important;
  width: auto;
}

ion-card ion-label {
  margin-right: 1vh;
  color: #dedede !important;
  width: 100%;
}

ion-card ion-input {
  --background: var(--ion-color-lessdark) !important;
  text-align: right;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#submit-btn {
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  width: 100%;
}