<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onCancel()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-title color="light">Change ton mot de passe</ion-card-title>
        <form (ngSubmit)="onSubmit()">
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label>Mot de passe actuel</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-input required type="password" [value]="pw" name="pw" (input)="getPw($event) "></ion-input>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label>Nouveau mot de passe</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-input required type="password" [value]="newPw" name="newPw" (input)="getNewPw($event)" ></ion-input>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label>Répéter le nouveau mot de passe</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-input required type="password" [value]="pwRepeat" name="pwRepeat" (input)="getPwRepeat($event)"></ion-input>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </form>

        <ion-item>
        <ion-button (click)="onSubmit()" color="red" shape="round" size="default" id="submit-btn" expand="block">Valider</ion-button>
        </ion-item>
    </ion-card>
</ion-content>