<ion-content fullscreen="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/connexion-client"></ion-back-button>
        </ion-buttons>
        <ion-title>Espace Partenaire</ion-title>
    </ion-toolbar>
    <div class="padding">



        <div class="logo">
            <ion-img src="../assets/images/logo_dark.svg"></ion-img>
        </div>

        <ion-item>
            <p>Connexion</p>
        </ion-item>
        <!--Formulaire de connexion-->
        <div class="form">
            <ion-item>
                <ion-label color="light">Email ou ID</ion-label>
                <ion-input clear-input="true" required color="light" type="text" placeholder="Identifiant"
                           [(ngModel)]="login"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="light">Mot de passe</ion-label>
                <ion-input clear-input="true" required color="light" type="password" placeholder="Mot de passe"
                           [(ngModel)]="mdp"  (keypress)="onEnter($event.keyCode)"></ion-input>
            </ion-item>
            <div class="options">
                <ion-item lines="none">
                    <ion-button size="small" slot="end" fill="clear" (click)="forgotPassword()">Mot de
                        passe
                        oublié ?
                    </ion-button>
                </ion-item>

            </div>
            <!--Boutons inscription, connexion et première connexion-->
            <ion-button color="red" expand="block" (click)="logIn()" class="login-btn">
                Connexion
            </ion-button>

        </div>


        <div class="redir">
            <!--            <ion-button size="small" color="red" expand="block" routerLink="/inscription-partenaire"-->
            <!--                        class="register-btn">-->
            <!--                Inscription-->
            <!--            </ion-button>-->
            <!--            <ion-button size="small" color="gray" expand="block" routerLink="/tabs-partenaire" class="ignore-btn">-->
            <!--                Ignorer pour le moment-->
            <!--            </ion-button>-->
            <ion-button color="gray" expand="block" (click)="generateMdp()" class="first-btn">Première
                connexion ?
            </ion-button>
        </div>

        <div id="bottom-div">
            <ion-text id="become-part" (click)="becomePartner()"><a>Devenir partenaire</a></ion-text>
        </div>
    </div>
</ion-content>



