ion-item ion-label {
  //color: var(--ion-color-step-950) !important;
  color: lighten($color: #F2F2F2, $amount: 0) !important;
}

ion-input {
  //color: var(--ion-color-step-650) !important;
  color: lighten($color: #ACACAC, $amount: 0) !important;
  text-align: right;
}

ion-item {
  --ion-background-color: transparent !important;
  --background: transparent !important;
  //color: var(--ion-color-step-700) !important;
  //color: lighten($color: #F2F2F2, $amount: 0) !important;
  //margin: 1% 1em 1% 1%;
}

ion-item p {
  color: lighten($color: #F2F2F2, $amount: 0) !important;
  font-size: large;
  font-weight: bold;
  text-align: center !important;
  width: 100%;
}

ion-content {
  --overflow: hidden;
  --ion-background-color: #0a0a0a !important;
  --height:100%;
}

.padding {
  padding-top: 2%;
}

.logo {
  margin: 3px;
}

.logo ion-img {
  height: auto;
  width: 40vw;
  text-align: center;
  margin: auto;
  display: flex;
}

.header {
  width: 100%;
  text-align: right;
}

.header ion-button {
  color: white !important;
  font-size: small;
}

ion-checkbox {
  --border-color-checked: var(--ion-color-danger);
  --border-color: var(--ion-color-light);

  --background-checked: var(--ion-color-danger);
  --size: 15px;
}

.form {
  padding: 2%;
}

.options ion-button {
  //color: var(--ion-color-step-750);
  color: lighten($color: #BFBFBF, $amount: 0) !important;
  font-size: 14px;
}

.login-btn {
  //--ion-background-color: #e5252c !important;
  //--background: #e5252c !important;
  border: none !important;
  //color: white;
  color: lighten($color: #f8f8f8, $amount: 0) !important;
  text-align: center;
  --border-radius: 64px !important;
  --border: none !important;
}

.register-btn, .ignore-btn, .first-btn {
  color: lighten($color: #F2F2F2, $amount: 0) !important;
  --border-radius: 64px !important;
  --border: none !important;
  padding: 1%;
}


ion-button {
  text-transform: uppercase !important;
}

.redir {
  bottom: 1px;
  height: 100%;
  position: relative;
}

#bottom-div{
  width: 100%;
  text-align: center;
}
#become-part {
  width: 100%;
  //color: #831618 !important;;
}
